<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Varicose Veins - Introduction, What is Varicose veins, Causes, Symptoms, Prevent</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">                       
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                                Varicose Veins <br>
                            </h1> 
                            <p  style="color:#283779" class="attention-getter">
                                Varicose veins are a common vascular condition characterized
                                 by enlarged, twisted veins that often appear bluish or purplish
                                  in color. While they can occur anywhere in the body, they most 
                                  commonly affect the legs and feet. In this article, we'll delve 
                                  into the causes, symptoms, and various treatment options for
                                   varicose veins, along with tips for prevention and management.
                            </p>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_3.jpeg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is</div>                           
                            <h2 class="text-display-title">
                                Varicose Veins 
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                Varicose veins are enlarged, swollen, and twisted veins that typically
                                 appear dark purple or blue in color. They often occur in the legs and 
                                 feet, although they can develop in other parts of the body as well. 
                                 Varicose veins form when the valves within the veins weaken or become
                                  damaged, hindering the normal flow of blood back to the heart. 
                            </p>
                            
                            <p class="attention-getter">
                                <h4 class="text">Causes of varicose veins: </h4>
                                <ul>
                                <li><p>Varicose veins develop when the valves in the 
                                    veins weaken or become damaged, leading to blood 
                                    pooling and veins becoming enlarged and twisted. Several factors can
                                     contribute to the development of varicose veins, including genetics,
                                      age, obesity, prolonged standing or sitting, pregnancy, and 
                                      hormonal changes.</p></li> 
                                </ul>  
                                </p>  

                                
                                
                                <p class="attention-getter">
                                    <h4 class="text">Symptoms of varicose veins: </h4>
                                    <ol>
                                    <li>Visible, twisted veins beneath the skin</li> 
                                    <li>Swelling, heaviness, or aching in the legs</li> 
                                    <li>Itching or burning sensation around the affected veins</li>
                                    <li>Muscle cramps or restless legs</li>
                                    <li>Skin discoloration or ulcers in severe cases</li>
                                    </ol>  
                                    </p>  
                                    
                                    <p class="attention-getter">
                                        <h4 class="text"> Treatment of varicose veins: </h4>
                                        <ul>
                                         <li>Compression Therapy: </li><p>
                                            Wearing compression stockings can help improve blood
                                             flow and reduce swelling and discomfort associated 
                                             with varicose veins.
                                         </p>
                                         
                                         <li>Lifestyle Changes: </li><p>
                                            Adopting a healthy lifestyle, including regular exercise,
                                             maintaining a healthy weight, and avoiding prolonged periods 
                                             of sitting or standing, can help prevent and manage varicose veins.
                                         </p>  
                                         <li>Minimally Invasive Procedures: </li><p>
                                            Options such as sclerotherapy, laser therapy, and endovenous ablation 
                                            are minimally invasive procedures that can effectively treat varicose 
                                            veins by closing off or removing the affected veins.
                                         </p> 
                                         
                                         <li>Surgical Treatment: </li><p>
                                            In severe cases, surgical procedures such as vein stripping
                                             or ligation may be recommended to remove or close off the 
                                             affected veins.
                                         </p>   
                                        </ul>  
                                        </p>    

                                        <p class="attention-getter">
                                            <h4 class="text"> Prevent of varicose veins: </h4>
                                            <p class="text">While not all varicose veins can be prevented,
                                                 there are steps you can take to reduce your risk and minimize symptoms:</p>
                                            <ul>
                                             <li>Stay Active: </li><p>
                                                Engage in regular physical activity, such
                                                 as walking or swimming, to promote healthy
                                                  blood circulation.
                                             </p>
                                             
                                             <li>Maintain a Healthy Weight: </li><p>
                                                Excess weight can put added pressure on your veins,
                                                 increasing the risk of varicose veins.
                                             </p>  
                                             <li>Elevate Your Legs: </li><p>
                                                Elevating your legs above heart level can
                                                 help reduce swelling and improve circulation.
                                             </p> 
                                             
                                             <li>Wear Compression Stockings: </li><p>
                                                Compression stockings provide gentle pressure to support 
                                                vein function and prevent blood from pooling in the legs.
                                             </p>   
                                            </ul>  
                                            </p>   
            
        

                            
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 
            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
            <button class="float-button" onclick="toggleFloatMenu()">
              <i class="material-icons">phone</i>
              <ul class="float-menu">
                <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
                <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
              </ul>
            </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SamrtSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> 
    <script src="assets/js/theme.js"></script>

</body>
</html>