<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paralysis: Introduction, What is Paralysis, Causes, Treatment and Symptoms, How to Aware from Paralysis? </title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                          
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                            Paralysis<br>
                            </h1> 
                            <p style="color:#283779" class="attention-getter">
                                Paralysis is a complex medical condition that affects millions of people worldwide,
                                 impacting mobility and quality of life. In this comprehensive guide, we'll explore 
                                 the causes, symptoms, and treatment options for paralysis, providing valuable insights
                                  for individuals and caregivers seeking information and support.
                            </p>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_1.jpeg" alt="Paralysis">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is</div>                           
                            <h2 class="text-display-title">
                            Paralysis 
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                Paralysis is a loss of muscle function in part or all of the body,
                                 typically resulting from damage to the nervous system. This damage
                                  disrupts the communication between the brain and muscles, leading 
                                  to an inability to move or control affected body parts. Paralysis 
                                  can be temporary or permanent and may vary in severity depending on 
                                  the underlying cause and location of the injury.
                            </p>
                            
                            <p class="attention-getter">
                                <h4 class="text"> Causes of Paralysis:</h4>
                                <ul>
                                 <li>Spinal Cord Injury: </li><p>
                                    Traumatic events such as falls, car accidents, 
                                    or sports injuries can damage the spinal cord, 
                                    resulting in paralysis below the level of the injury.

                                 </p>
                                 
                                 <li>Stroke:</li><p>
                                    A stroke occurs when blood flow to the brain is interrupted,
                                     leading to brain damage and neurological deficits, including
                                      paralysis on one side of the body (hemiplegia).
                                 </p>  
                                 <li>Neurological Disorders:  </li><p>
                                    Conditions such as multiple sclerosis, cerebral palsy, and
                                     Guillain-Barré syndrome can cause paralysis due to damage
                                      or dysfunction of the nervous system.
                                 </p>  
                                 <li>Traumatic Brain Injury: </li><p>
                                    Severe head trauma from accidents or violence can result in
                                     paralysis, depending on the location and extent of brain damage.
                                 </p>  
                                 <li>Spinal Cord Disorders: </li><p>
                                    Degenerative conditions like spinal cord tumors, spinal stenosis,
                                     or herniated discs can compress or damage the spinal cord, leading 
                                     to paralysis.
                                 </p> 
                                </ul>  
                                </p>  
                                
                                
                                <p class="attention-getter">
                                    <h4 class="text">Symptoms of Paralysis:</h4>
                                    <ul>
                                     <li>Loss of Muscle Control: </li><p>
                                        Paralysis often manifests as a loss of voluntary muscle control in
                                         the affected area(s). This can range from partial loss, where some
                                          movement is possible but limited, to complete loss of movement.
                                     </p>
                                     
                                     <li>Numbness or Tingling: </li><p>
                                        Sensory changes such as numbness, tingling, or a "pins-and-needles" 
                                        sensation may occur in the paralyzed area(s). This can result from 
                                        nerve damage or compression.
                                     </p>  
                                     <li>Muscle Weakness: </li><p>
                                        Paralysis is frequently accompanied by muscle weakness in the affected limbs or
                                         body parts. Weakness may range from mild to severe and can impact functional abilities.
                                     </p>  
                                     <li>Loss of Sensation:  </li><p>
                                        Individuals with paralysis may experience a reduction or complete loss of sensation in the
                                         affected area(s). This can include diminished ability to feel touch, pressure, temperature, 
                                         or pain.

                                     </p> 
                                    </ul>  
                                    </p>

                                <p class="attention-getter">
                                    <h4 class="text">How to Aware from Paralysis:</h4>
                                    <ul>
                                     <li>Maintain a Healthy Lifestyle: </li><p>
                                        Regular exercise, a balanced diet, and avoiding 
                                        habits like smoking can contribute to overall health 
                                        and reduce the risk of conditions that may lead to 
                                        paralysis, such as stroke.
                                     </p>
                                     
                                     <li>Safety Measures: </li><p>
                                        Take precautions to prevent accidents and injuries, 
                                        especially those that could harm the spine or head. 
                                        Wear seat belts in cars, use helmets when cycling or 
                                        engaging in activities with the risk of head injury, 
                                        and use proper safety equipment when playing sports.
                                     </p>  
                                     <li>Manage Underlying Health Conditions: </li><p>
                                        Conditions like diabetes and high blood pressure can 
                                        increase the risk of stroke, which can lead to paralysis. 
                                        Proper management of these conditions through medication, 
                                        lifestyle changes, and regular check-ups can reduce this risk.
                                     </p>  
                                     <li>Regular Check-ups </li><p>
                                        Regular visits to your healthcare provider can help identify any
                                         health issues early on and allow for appropriate management and treatment.

                                     </p> 
                                    </ul>  
                                    </p>

                            
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 

            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
            <button class="float-button" onclick="toggleFloatMenu()">
              <i class="material-icons">phone</i>
              <ul class="float-menu">
                <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
                <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
              </ul>
            </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/theme.js"></script>
</body>
</html>