<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frozen shoulder - What is Frozen Shoulder, Stages, Causes, Symptoms and Treatment </title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                            Frozen shoulder<br>
                            </h1>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_29.jpg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is</div>                           
                            <h2 class="text-display-title">
                            Frozen Shoulder.
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                Frozen shoulder, medically known as adhesive capsulitis, is a condition characterized by stiffness,
                                 pain, and limited range of motion in the shoulder joint. Understanding its causes, symptoms, and treatment 
                                 options is crucial for managing this debilitating condition effectively.
                            </p> 

                            <p class="attention-getter">
                                <h4 class="text">Stage of Frozen Shoulder: </h4>
                                <ol>
                                    
                                 <li><h5 class="text">Freezing Stage (Painful Stage): </h5></li><p>
                                   <ul> 
                                    <li><p>This initial stage is marked by increasing shoulder pain, especially with movemen</p></li> 

                                   <li><p>Range of motion in the shoulder joint gradually decreases,
                                     and it becomes progressively more difficult to perform daily activities
                                      that involve shoulder movement.</p></li>

                                     <li><p>Pain may be particularly intense at night, disrupting sleep.</p></li>

                                      <li><p>This stage can last anywhere from a few weeks to several months..</p></li>
                                   </ul>

                                 </p>
                                 
                                  <li><h5 class="text">Frozen Stage (Stiffness Stage): </h5></li><p>
                                   <ul> 
                                    <li><p>During this stage, shoulder stiffness becomes more pronounced,
                                         and the range of motion becomes significantly limited.
                                    </p></li> 

                                     <li><p>Pain may decrease compared to the freezing stage but can still be present, 
                                        especially at the extremes of motion.</p></li> 

                                        <li><p>Activities such as reaching overhead or behind the back become extremely 
                                            difficult or impossible.</p></li>
       
                                     
                                      <li><p>This stage can last anywhere from 4 to 12 months.</p></li>
                                   </ul>

                                 </p> 

                                 <li><h5 class="text">Thawing Stage (Stiffness Stage): </h5></li><p>
                                    <ul> 
                                     <li><p>In this final stage, the shoulder gradually begins to regain mobility,
                                         and the stiffness and pain start to diminish.
                                     </p></li> 
 
                                      <li><p>Range of motion slowly improves, allowing for a gradual return to normal activities.</p></li> 
 
                                         <li><p>Some residual stiffness and discomfort may persist, but they are typically much 
                                            less severe than in the previous stages.</p></li>
        
                                      
                                       <li><p>Full recovery can take several months to years, depending on factors such as individual 
                                        response to treatment and the severity of the condition.</p></li>
                                    </ul>
 
                                  </p>

                                 
                                </ol>  
                            </p> 
                            
                            <p class="attention-getter">
                                <h4 class="text">Causes of Frozen Shoulder: </h4>
                                <ul>
                                 <li>Inflammation: </li><p>
                                    Inflammation of the shoulder joint's lining (synovium) can lead to 
                                    the formation of scar tissue, which restricts movement and causes stiffness.

                                 </p>
                                 
                                 <li>Systemic Diseases:</li><p>
                                    Certain systemic diseases and medical conditions, such as diabetes,
                                     thyroid disorders, Parkinson's disease, and cardiovascular disease,
                                      have been associated with an increased risk of frozen shoulder. 
                                     The exact mechanisms through which these conditions contribute to
                                      frozen shoulder are not fully understood but likely involve inflammation
                                       and altered tissue healing processes.
                                 </p>  

                                 <li>Trauma or Injury:  </li><p>
                                    Trauma to the shoulder, such as a fracture or soft tissue injury,
                                     can lead to inflammation and subsequent adhesive capsulitis.</p> 

                                    <li>Age and Gender: </li><p>
                                        Frozen shoulder tends to occur more frequently in people aged
                                         40 and older, and it is more common in women than in men.
                                    </p> 
                                </ul>  
                            </p>  

                            <p class="attention-getter">
                                <h4 class="text">Symptoms of Frozen Shoulder: </h4>
                                <ul>
                                 <li>Pain: </li><p>
                                    Persistent dull or aching pain in the shoulder that may worsen at night,
                                     especially during the early stages of the condition.
                                     The pain is often located deep within the shoulder joint and may radiate to the upper arm or neck.

                                 </p>
                                 
                                 <li>Stiffness:</li><p>
                                    Gradual onset of stiffness in the shoulder joint, making it difficult to move the arm in 
                                    certain directions. Initially, stiffness may be mild and limited to specific movements, 
                                    but it progressively worsens, eventually restricting almost all shoulder movements.
                                 </p>  

                                 <li>Painful Movement: </li><p>
                                    Movement of the shoulder joint becomes increasingly painful,
                                     particularly when reaching overhead, reaching behind 
                                    the back, or lifting objects. The pain may worsen with 
                                    certain movements and may be accompanied by a sensation of pulling 
                                    or stretching in the shoulder.</p> 

                                    <li>Muscle Weakness: </li><p>
                                        Weakness or muscle atrophy (loss of muscle mass) in the muscles surrounding 
                                        the shoulder joint may develop over time due to disuse or limited mobility. 
                                        This can further contribute to functional limitations and difficulty performing 
                                        daily activities.
                                    </p> 
                                </ul>  
                            </p>  

                            <p class="attention-getter">
                                <h4 class="text">Treatment of Frozen Shoulder: </h4>
                                <ol>
                                    
                                 <li><h5 class="text">Pain Management: </h5></li><p>
                                   <ul> 
                                    <li><p>Nonsteroidal anti-inflammatory drugs (NSAIDs) such as ibuprofen or naproxen 
                                        may be prescribed to reduce pain and inflammation.</p></li> 

                                   <li><p>Acetaminophen (paracetamol) may be recommended for pain relief, especially for
                                     individuals who cannot tolerate NSAIDs..</p></li>
                                   </ul>

                                 </p>
                                 
                                  <li><h5 class="text">Physical Therapy: </h5></li><p>
                                   <ul> 
                                    <li><p>Physical therapy plays a crucial role in managing frozen shoulder. A physical therapist 
                                        can provide exercises and stretches aimed at improving shoulder mobility, reducing stiffness,
                                         and strengthening the muscles surrounding the shoulder joint.
                                    </p></li> 

                                     <li><p>Manual therapy techniques such as joint mobilization and soft tissue massage may be used
                                         to help improve joint mobility and reduce pain.</p></li> 

                                   </ul>

                                 </p> 

                                 <li><h5 class="text">Steroid Injections: </h5></li><p>
                                    <ul> 
                                     <li><p>Corticosteroid injections directly into the shoulder joint can help reduce inflammation and alleviate pain.
                                         These injections are typically administered under ultrasound guidance to ensure accurate placement.
                                     </p></li> 
 
                                      <li><p>Steroid injections are often used in conjunction with physical therapy to optimize outcomes.</p></li> 
                                    </ul>
 
                                  </p> 

                                  <li><h5 class="text">Home Exercises and Self-Care: </h5></li><p>
                                    <ul> 
                                     <li><p>Performing prescribed exercises and stretches at home can help
                                         maintain and improve shoulder mobility between physical therapy sessions.
                                     </p></li> 
 
                                      <li><p>Applying heat or cold packs to the shoulder may help alleviate pain and reduce inflammation..</p></li> 
                                    </ul>
 
                                  </p> 

                                  <li><h5 class="text">Hydrodilatation (Hydrodistension): </h5></li><p>
                                    <ul> 
                                     <li><p>This procedure involves injecting a sterile saline solution into the shoulder joint to distend the capsule 
                                        and break up adhesions. Hydrodilatation can help improve shoulder mobility and reduce pain, particularly in 
                                        individuals who have not responded to other treatments.
                                     </p></li> 
 
                                    
                                    </ul>
 
                                  </p>


                                 
                                </ol>  
                            </p> 
                               
                            
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 
            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
        <button class="float-button" onclick="toggleFloatMenu()">
          <i class="material-icons">phone</i>
          <ul class="float-menu">
            <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
            <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
            <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
          </ul>
        </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/theme.js"></script>

</body>
</html>