<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Knee Pain: Cause, Symptoms and Treatment </title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                            Knee-Pain<br>
                            </h1>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_5.jpeg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle"></div>                           
                            <h2 class="text-display-title">
                            Knee Pain.
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                Knee pain is a common ailment that can affect people of all ages.
                                 It can range from mild discomfort to severe pain, and it may be caused by various factors. 
                            </p>
                            
                            <p class="attention-getter">
                                <h4 class="text">Causes of Knee-Pain:</h4>
                                <ul>
                                 <li>Injuries:</li><p>
                                    Knee pain often results from injuries such as ligament tears (like ACL or MCL tears),
                                     meniscus tears, fractures, dislocations, or sprains. These injuries can occur due to 
                                     sports accidents, falls, or sudden twists.
                                 </p>
                                 
                                 <li>Overuse: </li><p>
                                    Repetitive activities or overuse of the knee joint, such as running, jumping, squatting,
                                     or kneeling for extended periods, can lead to knee pain. This is common in athletes, fitness
                                      enthusiasts, or individuals with physically demanding jobs.

                                 <li>Arthritis:</li><p>
                                    Osteoarthritis, rheumatoid arthritis, and other types of arthritis can cause knee pain 
                                    by wearing down the protective cartilage in the joint, leading to inflammation, stiffness, 
                                    and discomfort.
                                 </p> 
                                 <li>Tendonitis: </li><p>
                                    Tendonitis occurs when the tendons around the knee become inflamed due
                                     to overuse or repetitive stress, resulting in pain and swelling. Common 
                                     types include patellar tendonitis (jumper's knee) and iliotibial band syndrome (ITBS).

                                 </p> 
                                 <li>Bursitis:</li><p>
                                    Bursitis is the inflammation of the bursae, small 
                                    fluid-filled sacs that cushion the knee joint. Excessive 
                                    kneeling, direct trauma, or repetitive movements can irritate
                                     the bursae, causing pain, swelling, and tenderness.

                                 </p>
  
                                </ul>
                            </p> 

                            <p class="attention-getter">
                                <h4 class="text">Symptoms of Knee-Pain:</h4>
                                <ul>
                                 <li>Swelling: </li><p>
                                    One of the most common symptoms of knee pain is swelling
                                     around the knee joint. This swelling, also known as knee effusion, 
                                     can be noticeable and may affect mobility.

                                 </p>
                                 
                                 <li>Stiffness: </li><p>
                                    Knee stiffness, especially after periods 
                                    of inactivity or rest, is another hallmark symptom. Stiffness
                                     can make it difficult to bend or straighten the knee fully.

                                 <li>Pain: </li><p>
                                    Pain in the knee can vary in intensity and may be dull, achy, sharp, or throbbing.
                                     The pain can occur during movement, at rest, or both, depending on the underlying cause.
                                 </p> 
                                 <li>Redness and Warmth: </li><p>
                                    Inflammation associated with knee pain can lead to redness and warmth
                                     around the affected area. These symptoms may indicate an inflammatory response.

                                 </p> 
                                 <li>Weakness:</li><p>
                                    Knee pain can also cause weakness in the affected leg, making it
                                     challenging to bear weight or perform activities that require 
                                     strength and stability.
                                 </p>
   
                                 <li>Popping or Crunching Sensation:</li><p>
                                    Some individuals with knee pain may experience audible or
                                     palpable sensations of popping, clicking, or crunching 
                                     within the knee joint, particularly during movement.
                                 </p>
  
                                </ul>
                            </p> 

                            <p class="attention-getter">
                                <h4 class="text">Knee-Pain Treatments:</h4>
                                <ul>
                                 <li>Rest and Activity Modification: </li><p>
                                    Resting the affected knee and avoiding activities that
                                     exacerbate pain or stress on the joint can aid in the
                                      healing process. Gradually reintroducing activities with
                                       proper modification can help prevent further injury.
                                 </p>
                                 
                                 <li>Ice and Heat Therapy: </li><p>
                                    Applying ice packs to the knee can help reduce inflammation 
                                    and alleviate pain, especially within the first 48 hours of injury.
                                     Heat therapy, such as warm compresses or heating pads, can promote 
                                     blood flow and loosen tight muscles, aiding in pain relief.

                                 <li>Physical Therapy: </li><p>
                                    A structured physical therapy program tailored to individual needs can 
                                    strengthen the muscles around the knee, improve flexibility, and enhance 
                                    overall joint function. Therapeutic exercises, stretches, and manual techniques
                                     can help alleviate pain and restore mobility.
                                 </p> 
                                 <li>Medications: </li><p>
                                    Over-the-counter pain relievers such as ibuprofen (Advil, Motrin) or 
                                    acetaminophen (Tylenol) can help manage mild to moderate knee pain 
                                    and inflammation. Prescription medications, including corticosteroids
                                     or muscle relaxants, may be recommended for severe pain or inflammation.

                                 </p> 
                                 <li>Injections:</li><p>
                                    Injections such as corticosteroids or hyaluronic 
                                    acid can provide targeted relief for knee pain and 
                                    inflammation, especially in cases of arthritis or chronic 
                                    conditions. These injections are administered directly into the 
                                    knee joint by a healthcare professional.
                                 </p>
   
                                 <li>Consultation with Healthcare Professionals:</li><p>
                                    It's essential to consult with healthcare professionals,
                                     such as orthopedic specialists, physical therapists, or
                                      sports medicine physicians, to determine the most appropriate 
                                      treatment plan based on individual needs, preferences, and the 
                                      underlying cause of knee pain.
                                 </p>
  
                                </ul>
                            </p>
  
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 

            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
            <button class="float-button" onclick="toggleFloatMenu()">
              <i class="material-icons">phone</i>
              <ul class="float-menu">
                <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
                <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
              </ul>
            </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> 
    <script src="assets/js/theme.js"></script>

</body>
</html>