<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diet - Introudction, What is Diet, Types, Diet Plan, Benifits </title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li> 
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                                Diet<br>
                            </h1> 
                            <p class="text">Welcome to your journey towards optimal health 
                                and wellness! Embarking on a diet isn’t just about shedding pounds;
                                 it’s about nourishing your body, cultivating sustainable habits, and 
                                 embracing a lifestyle that promotes vitality. In this guide, we’ll delve
                                  into the essentials of dieting, offering insights, tips, and strategies 
                                  to help you achieve your wellness goals while ensuring your contentment.</p>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_28.jpg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div> 
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is</div>                           
                            <h2 class="text-display-title">
                                Diet 
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                "Diet" can refer to both the food and drinks a person habitually consumes,
                                 as well as deliberate modifications in food intake for various purposes, 
                                 such as weight management, health improvement, or medical treatment. 
                            </p>  

                            <p class="attention-getter">
                                <h4 class="text">Types of Diet: </h4>
                                <ul>
                                 <li>Mediterranean Diet: </li><p>
                                    Inspired by the traditional eating habits of countries
                                     bordering the Mediterranean Sea, this diet emphasizes fruits,
                                      vegetables, whole grains, nuts, seeds, olive oil, and moderate
                                       amounts of fish, poultry, and dairy. It's known for its heart
                                       -healthy benefits and emphasis on plant-based foods.
                                 </p>
                                 
                                 <li>Ketogenic Diet (Keto):</li><p>
                                    The ketogenic diet is high in fat, moderate in protein, and very
                                     low in carbohydrates. By drastically reducing carb intake, the 
                                     body enters a state of ketosis, where it burns fat for fuel.
                                      It's often used for weight loss and may also have benefits 
                                      for certain medical conditions like epilepsy.
                                 </p>  
                                 <li>Paleo Diet: </li><p>
                                    Based on the presumed diet of our Paleolithic ancestors,
                                     the paleo diet focuses on whole foods such as lean meats, 
                                     fish, fruits, vegetables, nuts, and seeds while excluding
                                      processed foods, grains, legumes, and dairy. Advocates claim 
                                      it can improve health and support weight loss.
                                 </p>  
                                 <li>Vegetarian and Vegan Diets: </li><p>
                                    Vegetarian diets exclude meat but may include dairy and eggs, 
                                    while vegan diets exclude all animal products. Both emphasize
                                     plant-based foods and are associated with lower risks of chronic 
                                     diseases, such as heart disease and certain cancers.

                                 </p> 
                                </ul>  
                                </p>  

                                <p class="attention-getter">
                                    <h4 class="text">Diet Plan: </h4>
                                    <ol>
                                     <li><h5 class="text">Breakfast: </h5></li>
                                     <ul>
                                        <li>Option 1: </li><p> 
                                            Whole grain cereal with low-fat milk or plant-based
                                             milk alternative, topped with fresh fruit (e.g., berries,
                                              banana).
                                        </p>
                                       
                                        <li>Option 2: </li><p> 
                                            Oatmeal made with water or milk, topped with
                                             nuts and seeds for added protein and healthy fats.
                                        </p>

                                        <li>Option 3: </li><p> 
                                            Greek yogurt with honey and mixed nuts, accompanied
                                             by a piece of whole fruit.
                                        </p>
                                     </ul>
                                     
                                     <li><h5 class="text">Mid-Morning Snack: </h5> </li>
                                     <ul>
                                        <li>Option 1: </li><p> 
                                            Apple slices with almond butter.
                                        </p>
                                        <li>Option 2: </li><p> 
                                            Carrot sticks with hummus.
                                        </p>
                                        <li>Option 3: </li><p> 
                                            A small handful of mixed nuts and dried fruits.
                                        </p>
                                     </ul>
    
                                     <li><h5 class="text">Lunch: </h5> </li>
                                     <ul>
                                        <li>Option 1: </li><p> 
                                            Grilled chicken salad with mixed greens, cherry tomatoes,
                                             cucumber, and a vinaigrette dressing.
                                        </p>
                                        <li>Option 2: </li><p> 
                                            Quinoa salad with black beans, corn, avocado,
                                             and a lime-cilantro dressing.
                                        </p> 
                                        <li>Option 3: </li><p> 
                                            Whole grain wrap filled with tuna, lettuce,
                                             tomato, and mustard.
                                        </p>
                                     </ul>  
                                     
                                     <li><h5 class="text">Afternoon Snack: </h5> </li>
                                     <ul>
                                        <li>Option 1: </li><p> 
                                            Cottage cheese with pineapple chunks.
                                        </p>
                                        <li>Option 2: </li><p> 
                                            Whole grain rice cakes with sliced avocado.
                                        </p> 
                                        <li>Option 3: </li><p> 
                                            A smoothie made with spinach, banana, almond milk, 
                                            and a scoop of protein powder.

                                        </p>
                                     </ul>  

                                     <li><h5 class="text">Dinner: </h5> </li>
                                     <ul>
                                        <li>Option 1: </li><p> 
                                            Baked salmon with steamed broccoli and quinoa.
                                        </p>
                                        <li>Option 2: </li><p> 
                                            Stir-fried tofu with mixed vegetables (bell peppers, broccoli, 
                                            snap peas) served over brown rice.
                                        </p> 
                                        <li>Option 3: </li><p> 
                                            Grilled lean steak with roasted sweet potatoes and a side salad.
                                        </p>
                                     </ul>  

                                     <li><h5 class="text">Evening Snack (optional): </h5> </li>
                                     <ul>
                                        <li>Option 1: </li><p> 
                                            small bowl of mixed berries.
                                        </p>
                                        <li>Option 2: </li><p> 
                                            A handful of air-popped popcorn.
                                        </p> 
                                        <li>Option 3: </li><p> 
                                            A small serving of Greek yogurt with a drizzle of honey.
                                        </p>
                                     </ul>
                                     <p class="text">Remember to drink plenty of water throughout the day and
                                         adjust portion sizes according to your individual needs and activity level.
                                          Additionally, consider any specific dietary requirements or preferences
                                           you may have when planning your meals. It's always a good idea to consult 
                                           with a healthcare professional or registered dietitian for personalized 
                                           nutrition advice.</p>
                                    </ol> 

                                </p> 

                            <p class="attention-getter">
                                <h4 class="text">Benifits of Diet: </h4>
                                <ol>
                                 <li><h5 class="text">Enhanced Physical Health: </h5></li>
                                 <ul>
                                    <li>
                                        Weight Management: 
                                   </li><p>A balanced diet promotes weight loss or
                                     maintenance, reducing the risk of obesity-related 
                                     conditions such as heart disease, diabetes, and hypertension.
                                </p>
                                    <li>
                                        Improved Digestive Health: 
                                    </li><p> High-fiber foods support regular bowel movements,
                                         prevent constipation, and promote gut health by nourishing
                                          beneficial gut bacteria.</p>
                                    <li>
                                        Reduced Risk of Chronic Diseases:
                                    </li><p> Consuming a variety of nutrient-dense foods rich in vitamins, minerals, and antioxidants can lower the risk of chronic diseases like cancer, stroke, and osteoporosis.</p> 
                                </ul>
                                 
                                 <li><h5 class="text">Boosted Mental Well-Being: </h5> </li>
                                 <ul>
                                    <li>
                                        Balanced Blood Sugar Levels: 
                                    </li><p>Stable blood sugar levels achieved through a balanced diet can
                                         help regulate mood swings, improve focus, and reduce the risk 
                                         of mood disorders like depression and anxiety.</p>
                                    <li>
                                        Cognitive Function: 
                                    </li><p>Certain nutrients, such as omega-3 fatty acids found in fish and 
                                        antioxidants found in fruits and vegetables, support brain health,
                                         memory, and cognitive function, reducing the risk of cognitive decline 
                                         as you age.</p>
                                    <li>
                                        Increased Energy Levels:
                                    </li><p> Nutrient-rich foods provide sustained energy 
                                        throughout the day, preventing energy crashes and enhancing
                                         overall productivity and vitality.
                                    </p>
                                 </ul>

                                 <li><h5 class="text">Support for Overall Wellness: </h5> </li>
                                 <ul>
                                    <li>
                                        Stronger Immune System:
                                    </li><p>A diet rich in vitamins, minerals, and 
                                        phytonutrients strengthens the immune system, 
                                        reducing the likelihood of infections and illnesses.</p>
                                    <li>
                                        Improved Sleep Quality:
                                    </li><p>Consuming balanced meals and avoiding heavy, high-fat
                                         foods close to bedtime can promote better sleep quality, 
                                         aiding in physical and mental rejuvenation.</p>
                                    <li>
                                        Enhanced Longevity:
                                    </li><p>By nourishing your body with the nutrients it needs,
                                         a balanced diet can support longevity and vitality, allowing
                                          you to live a fuller, more active life.
                                    </p>
                                 </ul>     

                                 <li><h5 class="text">Sustainable Lifestyle Habits: </h5> </li>
                                 <ul>
                                    <li>
                                        Cultivation of Mindful Eating: 
                                    </li><p>Adopting a balanced diet encourages mindful eating practices, 
                                        such as paying attention to hunger and fullness cues, savoring each
                                         bite, and practicing gratitude for nourishing foods.</p>
                                    <li>
                                        Long-Term Weight Maintenance: 
                                    </li><p>Unlike restrictive diets that often lead to 
                                        short-term results, a balanced diet fosters sustainable
                                         lifestyle habits that support long-term weight management 
                                         and overall well-being.</p>
                                    <li>
                                        Promotion of Food Enjoyment: 
                                    </li><p>Embracing a balanced diet allows for the enjoyment
                                         of a wide variety of foods, flavors, and culinary experiences, 
                                         promoting a positive relationship with food and eating.</p>
                                 </ul>    
                                </ol>  
                            </p>   
                            
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 
            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
            <button class="float-button" onclick="toggleFloatMenu()">
              <i class="material-icons">phone</i>
              <ul class="float-menu">
                <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
                <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
              </ul>
            </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> 
    <script src="assets/js/theme.js"></script>

</body>
</html>