<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Breast cancer - Introduct, What is Breast cancer, Types, causes, Stages, Treatments</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                        
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                                Breast cancer <br>
                            </h1> 
                            <p style="color:#283779" class="attention-getter">
                                Welcome to a comprehensive guide on breast cancer, a condition that 
                                affects millions of lives worldwide. In this article, we'll delve 
                                into essential information about breast cancer, covering its symptoms, 
                                'treatment options, preventative measures, and support resources. Whether 
                                you're seeking knowledge for yourself or a loved one, understanding breast 
                                cancer is crucial for early detection and effective management.
                            </p>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_32.jpeg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is </div>                           
                            <h2 class="text-display-title">
                                Breast cancer 
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                Breast cancer is a type of cancer that develops in the cells of the
                                 breast. It occurs when cells in the breast tissue grow abnormally
                                  and form a tumor. These tumors can be benign (non-cancerous) or
                                   malignant (cancerous). 

                                   Breast cancer is the most common cancer among women worldwide,
                                    though it can also occur in men, albeit much less frequently. Early
                                     detection through screening tests such as mammograms, along with 
                                     advances in treatment options, has significantly improved survival
                                      rates for individuals diagnosed with breast cancer. 
                            </p>
                            
                            <p class="attention-getter">
                                <h4 class="text">Types of Breast cancer:</h4>
                                <ul>
                                 <li>Ductal carcinoma in situ (DCIS):</li><p>
                                    DCIS is a non-invasive breast cancer where abnormal
                                     cells are found in the lining of the breast ducts. It's
                                      considered an early-stage breast cancer and has not spread
                                       outside the ducts into nearby breast tissue.
                                 </p>
                                 
                                 <li>Invasive ductal carcinoma (IDC):  </li><p>
                                    This is the most common type of breast cancer, accounting for about
                                     80% of all cases. IDC begins in the milk ducts of the breast and 
                                     then invades surrounding breast tissue. It can potentially spread 
                                     to other parts of the body if left untreated.
                                 </p>  
                                 <li>Invasive lobular carcinoma (ILC):</li><p>
                                    : ILC starts in the milk-producing glands (lobules) of the breast and
                                     can spread to nearby breast tissue. It's the second most 
                                     common type of invasive breast cancer.
                                 </p>  
                                 <li>Triple-Negative Breast Cancer (TNBC): </li><p>
                                    TNBC is a subtype of breast cancer that lacks estrogen receptors, 
                                    progesterone receptors, and HER2 protein expression. It tends
                                     to grow and spread more aggressively than other types and typically
                                      requires different treatment approaches.
                                 </p>  
                                 <li>Inflammatory Breast Cancer (IBC): </li><p>
                                    IBC is a rare and aggressive form of breast cancer 
                                    characterized by redness, swelling, and warmth in the
                                     breast. It often does not present as a distinct lump 
                                     and can be challenging to diagnose.
                                 </p> 
                                </ul>  
                                </p>   

                                <p class="attention-getter">
                                    <h4 class="text">Symptoms: </h4>
                                    <ul>
                                     <li>Lump or Mass:</li><p>
                                        The most common symptom of breast cancer is a lump 
                                        or mass in the breast or underarm area. It may feel 
                                        firm, hard, or irregular in shape. Not all lumps are
                                         cancerous, but any new lump should be evaluated by a 
                                         healthcare professional.
                                     </p>
                                     
                                     <li>Changes in Breast Appearance:</li><p>
                                        Changes in the size, shape, or appearance of the breast, such as swelling, 
                                        dimpling, or distortion, may indicate breast cancer. Skin changes, such as 
                                        redness, scaliness, or thickening, can also occur..
                                     </p>  
                                     <li>Nipple Changes:</li><p>
                                        Changes in the nipple or nipple area can be a sign of breast cancer.
                                         This may include nipple retraction (turning inward), nipple discharge 
                                         (other than breast milk), or changes in nipple texture (such as scaling or crusting).

                                     </p>  
                                     <li>Breast or Nipple Pain:</li><p>
                                        While breast cancer is not usually associated with pain, some individuals may experience
                                         breast or nipple pain, tenderness, or discomfort.
                                     </p>  
                                     <li>Changes in Breast Sensation:</li><p>
                                        Some individuals with breast cancer may notice changes in sensation, such as itching, tingling, or numbness in the breast or nipple area.</p>
                                    </ul>  
                                    </p>  
                                    <p class="attention-getter">
                                        <h4 class="text">Causes of Breast Cancer: </h4>
                                        <ul>
                                         <li>Genetic Factors: </li><p>
                                            Inherited mutations in certain genes, such as BRCA1 
                                            and BRCA2, significantly increase the risk of breast 
                                            cancer. These mutations can be passed down through 
                                            generations and are associated with a higher likelihood 
                                            of developing both breast and ovarian cancer.
                                         </p>
                                         
                                         <li>Age and Gender: </li><p>
                                            The risk of breast cancer increases with age, and 
                                            women are much more likely to develop breast cancer
                                             than men. While men can also get breast cancer, it's
                                              relatively rare compared to women.
                                         </p>  
                                         <li>Hormonal Factors: </li><p>
                                            Hormonal influences play a significant role in breast cancer risk.
                                             Factors such as early menstruation (before age 12), late menopause
                                              (after age 55), never giving birth or having the first child after 
                                              age 30, and hormone replacement therapy (HRT) can increase the risk.
    
                                         </p>  
                                         <li>Environmental Factors:</li><p>
                                            Exposure to certain environmental factors may also contribute to breast
                                             cancer risk, although the evidence is less clear. These factors may include
                                              exposure to ionizing radiation (such as radiation therapy for other cancers),
                                               environmental pollutants, and endocrine-disrupting chemicals.
                                         </p>  
                                         
                                        </ul>  
                                        </p>   

                                        <p class="attention-getter">
                                            <h4 class="text">Stages of Breast Cancer: </h4>
                                            <ol>
                                             <li><h5 class="text">Stage 1 (Carcinoma in Situ): </h5></li>
                                             <ul>
                                                <li>
                                                    In this stage, abnormal cells are found in the
                                                     lining of a breast duct but have not spread outside 
                                                     the duct or invaded surrounding tissue. It is considered 
                                                     non-invasive breast cancer.
                                                </li>
                                                <li>
                                                    Examples include ductal carcinoma in situ (DCIS) and lobular
                                                     carcinoma in situ (LCIS).
                                                </li>
                                             </ul>
                                             
                                             <li><h5 class="text">Stage 2:</h5> </li>
                                             <ul>
                                                <li>
                                                    The tumor is small and confined to the breast, with no 
                                                    lymph node involvement or distant metastasis.
                                                </li>
                                                <li>
                                                    Tumor size is up to 2 centimeters (cm) and hasn't spread to lymph nodes.
                                                </li>
                                             </ul>

                                             <li><h5 class="text">Stage 3: </h5> </li>
                                             <ul>
                                                <li>
                                                    The tumor is larger and may have spread to nearby lymph nodes,
                                                     but has not yet metastasized to distant organs.
                                                </li>
                                                <li>
                                                    Tumor size is between 2-5 cm and has spread to 1-3 nearby lymph 
                                                    nodes or the tumor is larger than 5 cm but has not spread to lymph 
                                                    nodes.
                                                </li>
                                             </ul>  
            
                                             <li><h5 class="text">Stage 4:</h5> </li>
                                             <ul>
                                                <li>
                                                    The tumor is larger than 5 cm and has spread to 4-9 nearby 
                                                    lymph nodes, or the tumor has invaded nearby tissues, such as the chest 
                                                    wall or skin.
                                                </li>
                                                <li>
                                                    The tumor may be any size and has spread to nearby tissues, 
                                                    such as the chest wall or skin, and may involve up to 9 lymph nodes.
                                                </li>
                                             </ul> 
                                             <li><h5 class="text">Stage 5 (Metastatic Breast Cancer):</h5> </li>
                                             <ul>
                                                <li>
                                                    Cancer has spread beyond the breast and nearby lymph nodes to other 
                                                    organs, such as the lungs, liver, bones, or brain.
                                                </li>
                                                <li>
                                                    breast cancer is considered advanced and is generally not curable, but treatment 
                                                    can help control symptoms and prolong life.
                                                </li>
                                             </ul>  
            
                                            </ol>  
                                        </p> 

                                        <p class="attention-getter">
                                            <h4 class="text">Treatments of Breast Cancer: </h4> 
                                            <p class="text">The treatment of breast cancer depends on various factors, including
                                                 the type and stage of the cancer, the individual's overall health and preferences,
                                                  and other considerations. Treatment often involves a combination of different 
                                                  approaches aimed at removing or destroying cancer cells, preventing recurrence, 
                                                  and preserving quality of life. Here are some common treatment options for breast
                                                   cancer:</p>
                                            <ol>
                                             <li><h5 class="text">Surgery: </h5></li>
                                             <ul>
                                                <li>Lumpectomy: </li><p>Also known as breast-conserving surgery, a lumpectomy involves removing the
                                                     tumor and a small margin of surrounding healthy tissue while preserving the breast.</p>

                                                <li>Mastectomy: </li><p> In a mastectomy, the entire breast is surgically
                                                         removed. Types of mastectomy include simple mastectomy (removal of the breast tissue),
                                                          modified radical mastectomy (removal of the breast tissue and some lymph nodes), and 
                                                          radical mastectomy (removal of the breast tissue, chest muscles, and lymph nodes).</p> 

                                                <li>Sentinel Lymph Node Biopsy: </li><p> This procedure involves removing and examining a few
                                                             lymph nodes to determine if cancer has spread beyond the breast.</p>
                                             </ul>
                                             
                                             <li><h5 class="text">Radiation Therapy:</h5></li>
                                             <ul>
                                                <li>
                                                    Radiation therapy uses high-energy beams to target and destroy cancer cells. It may be
                                                     used after surgery to kill any remaining cancer cells in the breast, chest wall, or
                                                      lymph nodes.
                                                </li>
                                             </ul>

                                             <li><h5 class="text">Chemotherapy: </h5></li>
                                             <ul>
                                                <li>
                                                    Chemotherapy involves the use of drugs to kill cancer cells or stop their growth. It may be 
                                                    administered before or after surgery, depending on the type and stage of breast cancer. 
                                                    Chemotherapy may also be used to treat metastatic breast cancer.
                                                </li>
                                               
                                             </ul>  
            
                                             <li><h5 class="text" >Hormone Therapy: </h5></li>
                                             <ul>
                                                <li>
                                                    Hormone therapy is used to treat hormone receptor-positive breast cancers,
                                                     which grow in response to estrogen or progesterone hormones. It works by
                                                      blocking the effects of these hormones or reducing their production in the body.
                                                </li>
                                             </ul> 
                                             <li><h5 class="text">Targeted Therapy:</h5> </li>
                                             <ul>
                                                <li>
                                                    Targeted therapy drugs specifically target certain molecules or pathways involved in cancer 
                                                    growth and progression. Examples include drugs that target HER2 (such as trastuzumab) or CDK4/6
                                                     inhibitors (such as palbociclib) for hormone receptor-positive breast cancer.
                                                </li>
                                             </ul>   
                                             <li><h5 class="text">Immunotherapy: </h5></li>
                                             <ul>
                                                <li>
                                                    Immunotherapy drugs help the body's immune system recognize 
                                                    and attack cancer cells. While not yet widely used for breast
                                                     cancer, immunotherapy may be an option for certain types of
                                                      metastatic breast cancer.
                                                </li>
                                             </ul>  
            
                                            </ol>  
                                        </p>
    
                            
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about -->
            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
            <button class="float-button" onclick="toggleFloatMenu()">
              <i class="material-icons">phone</i>
              <ul class="float-menu">
                <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
                <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
              </ul>
            </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> 
    <script src="assets/js/theme.js"></script>

</body>
</html>