<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arthritis: What is Arthritis, Types, Treatments, Symptoms and Difference between Osteoarthritis and Rheumatoid Arthritis</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                            Arthritis<br>
                            </h1>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_4.jpeg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is</div>                           
                            <h2 class="text-display-title">
                            Arthritis 
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                Arthritis is a broad term that refers to inflammation of one or more joints in the body.
                                 It's a common condition that affects people of all ages, genders, and backgrounds. The most
                                  prevalent types of arthritis include osteoarthritis (OA) and rheumatoid arthritis (RA).
                            </p>
                            
                            <p class="attention-getter">
                                <h4 class="text">Types of Arthritis:</h4>
                                <ul>
                                 <li>Osteoarthritis (OA): </li><p>
                                    This is the most common form of arthritis, often referred to as "wear and tear" 
                                    arthritis. It occurs when the protective cartilage that cushions the ends of bones 
                                    wears down over time, leading to pain, stiffness, and swelling in the affected joints.
                                     OA commonly affects weight-bearing joints like the knees, hips, and spine, as well as the hands.
                                 </p>
                                 
                                 <li>Rheumatoid Arthritis (RA): </li><p>
                                    Rheumatoid Arthritis (RA) is an autoimmune disorder where the body's immune system mistakenly attacks the synovium (the lining 
                                    of the membranes that surround the joints), causing inflammation. This inflammation can eventually lead to
                                     joint damage, deformity, and erosion of bone and cartilage. RA typically affects multiple joints symmetrically, 
                                     such as the wrists, hands, knees, and ankles.
                                 </p> 

                                </ul>  
                            </p>
                                <p class="attention-getter">
                                    <h4 class="text">Symptoms of Arthritis:</h4>
                                    <ul>
                                     <li>Joint Pain:</li><p>
                                        Persistent or recurring pain in one or more joints is
                                         a hallmark symptom of arthritis. The pain may be dull, 
                                         aching, or sharp and can range from mild to severe.
    
                                     </p>
                                     
                                     <li>Swelling: </li><p>
                                        Inflammation of the joints can cause swelling or puffiness 
                                        around the affected area. This swelling may be accompanied by
                                         warmth and redness.
                                     </p>  
                                     <li>Stiffness: </li><p>
                                        Arthritis often causes stiffness in the joints, particularly in the 
                                        morning or after periods of inactivity. Stiffness can make it difficult
                                         to move the joint or perform daily activities.
                                     </p> 
                                     <li>Joint Instability:  </li><p>
                                        Arthritis can weaken the structures that support the joints, 
                                        leading to a feeling of instability or a sensation that the joint 
                                        is giving way.
                                     </p> 
                                     <li>Joint Deformities: </li><p>
                                        In advanced cases of arthritis, joint deformities may develop, leading to
                                         visible changes in the shape or alignment of the affected joints.
                                     </p> 
                                    </ul>
                                </p>
                              <p class="attention-getter">
                                <h4 class="text">Treatments of Arthritis:</h4>
                                <ul>
                                 <li>Physical Therapy:</li><p>
                                    A physical therapist can help develop an exercise regimen to improve strength,
                                     flexibility, and range of motion. They may also suggest assistive devices such
                                      as braces or splints to support affected joints.

                                 </p>
                                 
                                 <li>Surgery: </li><p>
                                    In severe cases where conservative treatments are not effective, surgery may be necessary. 
                                    Common surgical options for arthritis include joint repair, joint replacement (such as knee 
                                    or hip replacement), or joint fusion to stabilize and realign a joint.
                                 </p>  
                                 <li>Self-care: </li><p>
                                    Simple self-care measures such as pacing activities, using ergonomic tools and techniques, and
                                     practicing relaxation techniques like meditation or deep breathing can also help manage arthritis
                                      symptoms and improve overall quality of life.
                                 </p> 
                                 <li>Alternative Therapies: </li><p>
                                    Some people find relief from arthritis symptoms through alternative 
                                    therapies such as acupuncture, massage therapy, or dietary supplements
                                     like glucosamine and chondroitin. However, the effectiveness of these 
                                     treatments varies, and it's important to consult with a healthcare professional 
                                     before trying them.

                                 </p> 
                                 
                                </ul>
                        </p> 
                        <p class="attention-getter"> 
                            <h4 class="text">Difference Between Osteoarthritis and Rheumatoid Arthritis: </h4>
                           <ol>
                            <li>Causes: </li><p>
                                <ul>
                                    <li>Osteoarthritis: </li><p>
                                        OA is primarily caused by the wear and tear of joint cartilage over time. 
                                        Factors such as aging, joint injury or trauma, obesity, and genetics can 
                                        contribute to the development of OA.
                                    </p> 
                                    <li>Rheumatoid Arthritis: </li><p>
                                        RA is an autoimmune disease in which the body's immune system mistakenly 
                                        attacks the synovium, the lining of the membranes that surround the joints. 
                                        This leads to inflammation, joint damage, and eventually, deformity. The exact
                                         cause of RA is unknown, but both genetic and environmental factors are believed to play a role.

                                    </p>
                                </ul>
                            </p> 

                            <li>Symptoms: </li><p>
                                <ul>
                                    <li>Osteoarthritis (OA): </li><p>
                                        Symptoms of OA typically include joint pain, stiffness, and limited range of motion. The pain tends to
                                         worsen with activity and improve with rest. OA commonly affects weight-bearing joints such as the knees, 
                                         hips, and spine, as well as the hands.

                                    </p> 
                                    <li>Rheumatoid Arthritis (RA): </li><p>
                                        RA is characterized by symmetrical joint inflammation, meaning that joints on both sides of 
                                        the body are usually affected. Symptoms include joint pain, swelling, stiffness, and fatigue.
                                         RA commonly affects smaller joints such as those in the hands, wrists, and feet, but it can 
                                         also affect larger joints.
                                    </p>
                                </ul>
                            </p>

                            <li>Treatment: </li><p>
                                <ul>
                                    <li>Osteoarthritis (OA):  </li><p>
                                        Treatment for OA focuses on managing symptoms and 
                                        improving joint function. This may include medications 
                                        such as pain relievers and NSAIDs, physical therapy, lifestyle
                                         modifications (e.g., weight loss, exercise), and in severe cases, joint replacement surgery.

                                    </p> 
                                    <li>Rheumatoid Arthritis (RA): </li><p>
                                        Treatment for RA aims to reduce inflammation, relieve pain,
                                         prevent joint damage, and improve overall function. This often
                                          involves medications such as disease-modifying antirheumatic drugs (DMARDs), 
                                          biologic therapies, corticosteroids, and NSAIDs. Physical therapy and lifestyle 
                                          changes may also be recommended to help manage symptoms and maintain joint health.

                                    </p>
                                </ul>
                            </p> 

                            <li>Prognosis:</li><p>
                                <ul>
                                    <li>Osteoarthritis (OA): </li><p>
                                        OA is a chronic condition that tends to worsen over time, but its progression can be slowed 
                                        with appropriate treatment and lifestyle modifications. Joint damage in OA is typically localized
                                         to the affected joint(s).
                                    </p> 
                                    <li>Rheumatoid Arthritis (RA): </li><p>
                                        RA is also a chronic condition, but early and aggressive treatment can help control
                                         symptoms and slow the progression of joint damage. Without proper treatment, however,
                                          RA can lead to significant disability and deformity.
                                    </p>
                                </ul>
                            </p>
                           </ol>

                        </p>


                            
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 
            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
        <button class="float-button" onclick="toggleFloatMenu()">
          <i class="material-icons">phone</i>
          <ul class="float-menu">
            <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
            <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
            <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
          </ul>
        </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> 
    <script src="assets/js/theme.js"></script>

</body>
</html>