<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Infertility: What is Infertility, Types, Symptoms Or Sign, Causes and Treatment</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                                Infertility<br>
                            </h1>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_30.jpg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is</div>                           
                            <h2 class="text-display-title">
                                Infertility.
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                             Infertility is a medical condition characterized by the inability to conceive 
                             after a year of regular, unprotected intercourse. It affects both men and women 
                             and can be caused by various factors that interfere with the reproductive process. 
                             These factors may include hormonal imbalances, ovulation disorders, low sperm count or 
                             quality, tubal issues, endometriosis, age-related factors, and lifestyle factors such as 
                             smoking, excessive alcohol consumption, and obesity.
                            </p>
                            
                            <p class="attention-getter">
                                <h4 class="text">Types of Infertility:</h4>
                                <ul>
                                 <li>Primary Infertility:</li><p>
                                    Primary infertility refers to the inability to conceive after at least 
                                    one year of unprotected intercourse for women under 35 years old, or after
                                     six months for women over 35. It indicates that the individual has never been 
                                     able to conceive.
                                 </p>
                                 
                                 <li>Secondary Infertility:</li><p>
                                    Secondary infertility occurs when a couple has previously 
                                    conceived at least once but is experiencing difficulty conceiving again.
                                 </p>  

                                 <li>Male Factor Infertility:</li><p>
                                    Male factor infertility refers to infertility primarily caused by issues related
                                     to the male partner's reproductive system. This can include low sperm count, poor 
                                     sperm motility, abnormal sperm morphology, or issues with ejaculation.
                                 </p>  

                                 <li>Female Factor Infertility: </li><p>
                                    Female Ifertility declines with age,
                                     particularly after the age of 35, due to a 
                                     decrease in the quantity and quality of eggs.
                                 </p> 

                                </ul>  
                            </p>
                            <p class="attention-getter">
                                <h4 class="text">Causes of Infertility: </h4>
                                <ol>
                                    
                                 <li><h5 class="text">Male Infertility:  </h5></li><p>
                                   <ul> 
                                    <li>Low Sperm Count (Oligospermia): </li><p>A reduced number of sperm cells in the ejaculate can significantly
                                         lower the chances of conception.</p> 

                                         <li>Poor Sperm Motility (Asthenospermia): </li><p>If sperm have difficulty swimming or moving effectively, they may struggle to 
                                            reach and fertilize the egg.</p> 

                                            <li>Abnormal Sperm Morphology (Teratospermia): </li><p>Sperm with irregular shapes or structures may have difficulty penetrating the egg.</p> 
    
                                                <li>Ejaculation Disorders: </li><p>Conditions such as retrograde ejaculation, where semen enters the bladder instead of exiting through the penis, or 
                                                    premature ejaculation can hinder sperm delivery.</p>  

                                                    <li>Varicocele: </li><p>Enlarged veins within the scrotum (varicocele) can increase scrotal temperature, which may impair sperm production and function.</p>  

                                                    <li>Hormonal Imbalances:</li><p> Hormonal imbalances, such as low testosterone levels or abnormalities in other hormones involved in sperm production, can affect fertility.</p> 
        
                                   </ul>

                                 </p>
                                 
                                  <li><h5 class="text">Female Infertility: </h5></li><p>
                                   <ul> 
                                    <li>Ovulatory Disorders:</li><p>Conditions such as polycystic ovary syndrome (PCOS), hypothalamic dysfunction, or premature
                                         ovarian failure can disrupt ovulation, making it difficult to conceive.</p> 

                                    <li>Fallopian Tube Blockage or Damage: :</li><p>Blockages or scarring in the fallopian tubes, often due to pelvic
                                         inflammatory disease (PID), endometriosis, or previous surgeries, 
                                        can prevent the egg from reaching the uterus for fertilization.</p> 

                                    <li>Endometriosis:</li><p>Endometriosis occurs when the tissue lining the uterus grows outside of it, leading to inflammation,
                                         scarring, and adhesions that can interfere with fertility.</p> 
       
                                     
                                    <li>Uterine Factors: </li><p>Structural abnormalities in the uterus, such as uterine fibroids, polyps, or septum,
                                         can affect implantation or increase the risk of miscarriage.</p> 

                                    <li>Age-related Decline in Fertility:</li><p>Fertility decreases with age, particularly after the age of 35,
                                         due to a decline in the quantity and quality of eggs.
                                    </p>   

                                    <li>Hormonal Imbalances::</li><p> Imbalances in hormones such as estrogen, progesterone,
                                         thyroid hormones, or prolactin can disrupt menstrual cycles and ovulation.

                                   </p>
                                   </ul>

                                 </p> 
                                 
                                </ol>  
                            </p>  

                            <p class="attention-getter">
                                <h4 class="text">Symptoms of Infertility: </h4>
                                <ol>
                                    
                                 <li><h5 class="text">Symptoms of Male Infertility:  </h5></li><p>
                                   <ul> 
                                    <li>Changes in Sexual Function: </li><p> Difficulty achieving or maintaining an erection (erectile dysfunction) or premature
                                         ejaculation may indicate potential fertility issues.</p> 

                                    <li>Pain, Swelling, or Lumps in the Testicles: </li><p>Testicular pain, swelling, or the presence of lumps could be signs of underlying conditions affecting 
                                        sperm production or function, such as varicocele or testicular cancer.</p> 

                                    <li>Changes in Libido: </li><p>Decreased sex drive or changes in sexual desire may
                                         be associated with hormonal imbalances affecting fertility.</p> 
    
                                    <li>Issues with Ejaculation: </li><p>Painful ejaculation, reduced ejaculate volume, or ejaculation disorders such
                                         as retrograde ejaculation (semen entering the bladder) may indicate potential fertility problems.</p>  

                                    <li>Gynecomastia (Enlarged Breasts): </li><p>Hormonal imbalances or certain medications can cause the development of enlarged breast tissue (gynecomastia), which may be associated with fertility issues.</p>  

                                    <li>Abnormalities in Physical Appearance:</li><p> Certain physical characteristics, such as a small or underdeveloped penis, undescended testicles, or other genital abnormalities, may suggest underlying fertility problems.</p> 
        
                                   </ul>

                                 </p>
                                 
                                  <li><h5 class="text">Symptoms of Female Infertility: </h5></li><p>
                                   <ul> 
                                    <li>Irregular Menstrual Cycles: </li><p>Irregular menstrual cycles, including unusually long or short cycles, absent periods (amenorrhea), or unusually heavy or light bleeding, 
                                        may indicate ovulatory disorders or hormonal imbalances affecting fertility.</p> 

                                    <li>Painful Periods: </li><p>Severe menstrual cramps (dysmenorrhea) or pelvic pain during menstruation
                                         may be associated with conditions such as endometriosis, which can impact fertility.
                                    </p> 

                                    <li>Abnormal Vaginal Discharge: </li><p>Changes in vaginal discharge, such as unusual color, consistency,
                                         or odor, may indicate infections or hormonal imbalances affecting fertility.</p> 
       
                                     
                                    <li>Pain During Intercourse: </li><p> Pain or discomfort during sexual intercourse (dyspareunia) may be related to conditions such as
                                         endometriosis, pelvic inflammatory disease (PID), or vaginal dryness, which can affect fertility.</p> 

                                    <li>Changes in Breast Size or Tenderness: </li><p>Hormonal imbalances or certain medical conditions may cause 
                                        changes in breast size, tenderness, or other breast-related symptoms that could be associated with fertility issues.
                                    </p>   

                                    <li>Unexplained Weight Gain or Loss: </li><p> Sudden or unexplained changes in weight, particularly 
                                        significant weight gain or loss, may be linked to hormonal imbalances affecting fertility.
                                   </p>
                                   </ul>

                                 </p> 
                                 
                                </ol>  
                            </p>   

                            <p class="attention-getter">
                                <h4 class="text">Treatments of Infertility: </h4>
                                <ol>
                                    
                                 <li><h5 class="text">Medications:  </h5></li><p>
                                   <ul> 
                                    <li>Ovulation Induction: </li><p>Medications such as clomiphene citrate,
                                         letrozole, or gonadotropins may be prescribed to stimulate ovulation 
                                         in women with ovulatory disorders.
                                    </p> 

                                    <li>Hormonal Therapy:</li><p>Hormonal imbalances affecting fertility can be corrected with
                                         medications such as thyroid hormone replacement, insulin-sensitizing agents for PCOS, or 
                                         medications to regulate prolactin levels.</p> 
                                   </ul>

                                 </p>
                                 
                                  <li><h5 class="text">Surgical Interventions: </h5></li><p>
                                   <ul> 
                                    <li>Laparoscopic Surgery: </li><p>Surgical procedures, such as laparoscopy, 
                                        may be performed to remove adhesions, treat endometriosis, or repair
                                         blocked or damaged fallopian tubes.</p> 

                                    <li>Varicocele Repair:  </li><p>Surgical correction of varicoceles 
                                        (enlarged veins within the scrotum) may improve sperm production
                                         and quality in men with varicocele-related infertility.
                                    </p> 
                                   </ul>

                                 </p>  

                                 <li><h5 class="text"> Lifestyle Modifications: </h5></li><p>
                                    <ul> 
                                     <li><p>Adopting a healthy lifestyle, including maintaining a balanced diet, regular exercise, avoiding tobacco, 
                                        limiting alcohol intake, and managing stress, can improve fertility in some cases.</p>
                                    </li>
                                    </ul>
 
                                  </p>  

                                  <li><h5 class="text">Psychological Support: </h5></li><p>
                                    <ul> 
                                     <li><p>Infertility treatment can be emotionally challenging. Counseling, support groups,
                                         and other forms of psychological support can help individuals and couples cope 
                                         with the stress and emotional impact of infertility.</p>
                                    </li>
                                    </ul>
 
                                  </p> 
                                  <li><h5 class="text">Alternative Therapies: </h5></li><p>
                                    <ul> 
                                     <li><p>Some individuals explore alternative therapies such as acupuncture, 
                                        herbal supplements, or mind-body techniques like yoga or meditation to
                                         complement conventional infertility treatments. While these approaches
                                          may offer some benefits, they should be used cautiously and in conjunction 
                                          with medical guidance.</p>
                                    </li>
                                    </ul>
 
                                  </p>
                                 
                                </ol>  
                            </p>   
                            

                            

                            
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about -->
            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
        <button class="float-button" onclick="toggleFloatMenu()">
          <i class="material-icons">phone</i>
          <ul class="float-menu">
            <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
            <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
            <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
          </ul>
        </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/theme.js"></script>
</body>
</html>