<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChiroPractic - Introudction, What is ChiroPractic, Benifits, Where ChiroPractic Use. </title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">


</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li> 
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                                ChiroPractic<br>
                            </h1> 
                            <p class="text">In today's fast-paced world, prioritizing our health 
                                is more crucial than ever. Chiropractic therapy offers a holistic
                                 approach to wellness, focusing on the body's natural ability to heal
                                  itself. Let's explore how chiropractic care can enhance your physical
                                   well-being and promote overall vitality.</p>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_34.jpg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is</div>                           
                            <h2 class="text-display-title">
                                ChiroPractic 
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter"> 
                                Chiropractic therapy is a non-invasive, drug-free approach to healthcare that 
                                emphasizes the alignment of the spine to alleviate pain and improve function.

                                Chiropractic therapy is a holistic approach to health and wellness that 
                                focuses on restoring proper alignment of the spine and musculoskeletal system.
                                 Through gentle adjustments and manual manipulation, chiropractors help alleviate
                                  pain, improve mobility, and support the body's natural healing process.
                            </p> 
                            
                            <p class="attention-getter">
                                <h4 class="text">Benefits of Chiropractic Therapy:</h4>
                                <ul>
                                 <li>Pain Relief: </li><p>
                                    Chiropractic care is highly effective in relieving various types of pain,
                                     including back pain, neck pain, headaches, and joint discomfort. By addressing
                                      the root cause of pain through spinal adjustments, chiropractors offer drug-free
                                       relief and long-term solutions.
                                 </p>
                                 
                                 <li>Holistic Wellness:</li><p>
                                    Unlike conventional medicine, which often focuses solely on symptoms, chiropractic 
                                    therapy takes a holistic approach to health. By addressing the underlying issues
                                     contributing to discomfort, chiropractors promote overall wellness and empower 
                                     patients to take control of their health naturally.
                                 </p>  
                                 <li>Personalized Care:</li><p>
                                    Each patient is unique, and chiropractors tailor treatment plans to meet individual
                                     needs and goals. Whether you're seeking relief from chronic pain, 
                                     recovering from an injury, or striving to optimize your health, chiropractic therapy 
                                     offers personalized care to support your journey to wellness.

                                 </p>   
                                 <li>Non-Invasive Treatment:  </li><p>
                                    Chiropractic therapy is non-invasive and drug-free, making it a safe and natural 
                                    alternative to traditional medical interventions. With minimal risk of side effects
                                     or complications, chiropractic care is suitable for people of all ages, from infants
                                      to seniors.
                                 </p>                               
                                </ul>  
                                </p> 

                                <p class="attention-getter">
                                    <h4 class="text">Where chiropractic use:</h4>
                                    <p class="text">Certainly! Here are some common conditions that can be effectively treated or managed through chiropractic care:</p>
                                    <ul> 
                                        
                                     <li>Back Pain: </li><p>
                                        Chiropractic adjustments are highly effective in addressing acute 
                                        and chronic back pain, including issues like lower back pain, upper
                                         back pain, and mid-back pain.
                                     </p>
                                     
                                     <li>Neck Pain:</li><p>
                                        Chiropractic adjustments and manual therapies can help alleviate neck pain caused by various 
                                        factors such as poor posture, muscle tension, or cervical spine misalignments.
                                     </p>  
                                     <li>Headaches and Migraines: </li><p>
                                        Chiropractic care can provide relief from tension headaches, migraines, and cervicogenic
                                         headaches by addressing spinal misalignments and reducing tension in the neck and shoulders.
    
                                     </p>   
                                     <li>Sciatica: </li><p>
                                        Chiropractors can relieve sciatic nerve pain by realigning the spine and reducing 
                                        pressure on the affected nerves, often providing significant relief from symptoms 
                                        like leg pain, numbness, and tingling.
                                     </p> 
                                     <li>Joint Pain: </li><p>
                                        Chiropractic adjustments and mobilization techniques can improve
                                         joint function and reduce pain associated with conditions like 
                                         osteoarthritis, rheumatoid arthritis, and other degenerative 
                                         joint disorders.
                                     </p>    
                                     <li>Sports Injuries: </li><p>
                                        Chiropractors specialize in treating sports-related injuries such 
                                        as sprains, strains, tendonitis, and ligament tears, helping athletes
                                         recover faster and prevent future injuries through rehabilitation exercises 
                                         and biomechanical assessments.
                                     </p>                                                           
                                    </ul>  
                                    </p>  
                                    
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 
            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
            <button class="float-button" onclick="toggleFloatMenu()">
              <i class="material-icons">phone</i>
              <ul class="float-menu">
                <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
                <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
              </ul>
            </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> 
    <script src="assets/js/theme.js"></script>

</body>
</html>