<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hijama - Introduction, What is Hijama, How it's work, Benifits, Is suitable for everyOne?</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                                Hijama<br>Therapy
                            </h1> 
                            <p style="color:#283779" class="attention-getter">
                                Embark on a journey of holistic healing with the ancient art of Hijama
                                 therapy. In this comprehensive guide, we delve into the origins, benefits,
                                  and techniques of this time-honored practice, shedding light on its potential
                                   to rejuvenate both body and mind.
                            </p>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_13.jpeg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is</div>                           
                            <h1 class="text-display-title">
                                Hijama Therapy.
                            </h1>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                Hijama, also known as cupping therapy, traces its roots back to ancient 
                                civilizations and traditional healing practices. This therapeutic technique 
                                involves the application of suction cups to specific points on the body, creating 
                                a vacuum effect that stimulates circulation, relieves tension, and promotes detoxification.
                            </p>  

                            <p class="attention-getter"> 
                                <h4 class="text">How Hijama Therapy works: </h4>
                               <ul>
                                  <li>Preparation: </li><p>Before the procedure begins, the practitioner will assess the patient's
                                     condition and identify the appropriate points for cupping. The skin is then cleaned and lubricated 
                                     with oil to create a tight seal with the cups.</p> 

                                <li>Application of Cups: </li><p>The cups, typically made of glass, plastic, or silicone, are then placed on the skin. 
                                    They may be left in a stationary position or moved around the treatment area to target specific points or muscle 
                                    groups.</p> 

                                <li>Creation of Suction: </li><p> The practitioner creates suction inside the cups by using a handheld pump,
                                     heating the cups, or using a technique called "fire cupping," where a cotton ball soaked in alcohol is
                                      ignited and briefly placed inside the cup before removal.</p> 

                                <li>Suction Effect: </li><p>  As the cups create suction, they gently pull the
                                     skin and underlying tissue upwards into the cup. This suction effect helps
                                      to stretch tight muscles, release fascia, and promote blood flow to the area.</p> 

                                <li>Duration: </li><p>The cups are typically left in place for a few minutes,
                                     although the duration can vary depending on the individual's condition and 
                                     the practitioner's assessment.</p> 

                                <li>Removal of Cups: </li><p>After the desired treatment time, the cups are
                                     carefully removed by releasing the suction. This is usually done 
                                     by pressing down on the skin near the edge of the cup to break the seal.</p> 

                                <li>Post-Treatment Care: </li><p> Following the procedure, the patient may experience 
                                    temporary redness, bruising, or circular marks on the skin, which usually fade within 
                                    a few days. The practitioner may recommend gentle stretching exercises, hydration, and 
                                    rest to optimize the benefits of the treatment.</p>
                               </ul>
                            </p> 
                            
                            <p class="attention-getter">
                                <h4 class="text">Benifits of HIJAMA: </h4>
                                <ul>
                                 <li>Pain Relief: </li><p>
                                    Hijama therapy is renowned for its ability to alleviate various types
                                     of pain, including muscle soreness, joint stiffness, and chronic headaches.
                                      By enhancing blood flow and reducing inflammation, cupping can provide 
                                      effective relief from discomfort.
                                 </p>
                                 
                                 <li>Stress Reduction: </li><p>
                                    In today's fast-paced world, stress has become a prevalent issue affecting countless
                                     individuals. Hijama therapy offers a natural and soothing solution for stress relief, 
                                     helping to relax the body and calm the mind.

                                 </p>  
                                 <li>Detoxification: </li><p>
                                    The suction created during cupping therapy facilitates the removal of toxins and
                                     metabolic waste from the body, supporting the liver and kidneys in their detoxification
                                      efforts. This cleansing effect can promote overall wellness and vitality.
                                 </p>  
                                 <li>Improved Circulation: </li><p>
                                    By stimulating blood flow to targeted areas, hijama therapy enhances oxygen and nutrient 
                                    delivery to cells, promoting tissue repair and regeneration. Improved circulation can also
                                     aid in the management of conditions such as hypertension and diabetes.
                                 </p> 
                                 <li>Enhanced Immunity: </li><p>
                                    Cupping therapy has been shown to boost the immune system by stimulating the production of 
                                    white blood cells and enhancing lymphatic drainage. By fortifying the body's natural defense 
                                    mechanisms, hijama therapy helps ward off illness and infection.
                                 </p> 
                                </ul>  
                                </p>  
                                
                                <p class="attention-getter"> 
                                    <h4 class="text">Is Hijama Therapy Right for EveryOne?</h4>
                                    Whether you're seeking relief from chronic pain, stress reduction, 
                                    or a natural detoxification method,
                                     hijama therapy offers a gentle yet effective approach to 
                                     holistic healing. Consult with a qualified practitioner to determine 
                                     if cupping is suitable for your individual needs and health goals.
                                </p>
                                
                                
                            
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 
            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
            <button class="float-button" onclick="toggleFloatMenu()">
              <i class="material-icons">phone</i>
              <ul class="float-menu">
                <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
                <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
              </ul>
            </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> 
    <script src="assets/js/theme.js"></script>

</body>
</html>