<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cupping: What is Cupping, Benifit, Safe or not, Types of Cupping, Technique</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                            Cupping<br>Therapy
                            </h1>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_12.jpeg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is</div>                           
                            <h2 class="text-display-title">
                            Cupping Therapy.
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                Cupping therapy is a traditional healing practice with roots
                                 in ancient civilizations like Egypt, China, and the Middle East.
                                  It involves placing cups on the skin to create suction, which may 
                                  help with pain, inflammation, blood flow, relaxation, and overall well-being.
                            </p>
                            
                            <p class="attention-getter">
                                <h4 class="text">Types of Cupping</h4>
                                <ul>
                                 <li>Dry Cupping: </li><p>
                                    In this method, cups are placed on the skin, 
                                    and the air inside is suctioned out to create 
                                    a vacuum. The cups may be made of glass, silicone, 
                                    or bamboo. cups are placed on the skin, and the air 
                                    inside is removed to create a vacuum, pulling the skin 
                                    and underlying tissue into the cup.
                                 </p>
                                 
                                 <li>Wet Cupping (Hijama): </li><p>
                                    This involves making small incisions on 
                                    the skin before applying the cups to draw
                                     out a small amount of blood. It's thought 
                                     to remove harmful substances from the body. 
                                 </p> 
                                 <li>Fire Cupping: </li><p>
                                    Traditionally, fire is used to create suction in the
                                     cups before placing them on the skin, though modern 
                                     methods may use a vacuum pump.
                                 </p>
                                 
                                </ul>
                            </p>

                            <p class="attention-getter"> 
                                <h4 class="text">Benifits of Cupping.</h4>
                               <ul>
                                <li>Improved Blood Circulation: </li><p>
                                    By promoting blood flow to the treated areas, cupping therapy 
                                    may help in speeding up the body's natural healing process.
                                </p>
                                <li>Pain Relief: </li><p>
                                    Cupping therapy can alleviate various types of pain, including 
                                    back pain, neck pain, and joint pain.
                                </p>
                                <li>Stress Reduction: </li><p>
                                    Many people find cupping therapy to be deeply relaxing,
                                     helping to reduce stress and anxiety.

                                </p>
                                <li>Detoxification</li><p>
                                    Cupping is believed to help the body in eliminating toxins
                                     and waste products, promoting overall detoxification.
                                </p>
                                
                               </ul>
                            </p> 

                            <p class="attention-getter"> 
                                <h4 class="text">Cupping Therap Technique: </h4>
                               <ul>
                                <li>Stationary Cupping: </li><p>
                                    Cups are placed on specific points on the body
                                     and left in place for a set period.
                                </p>
                                <li>Moving Cupping:</li><p>
                                    Oil is applied to the skin, and cups are moved around in a gliding 
                                    motion to massage the muscles and tissues.
                                </p>
                                <li>Flash Cupping: </li><p>
                                    Cups are quickly placed and removed from the skin to stimulate 
                                    circulation and energy flow.

                                </p>                                
                               </ul>
                            </p>

                            <p class="attention-getter"> 
                                <h4 class="text">Cupping Therap Safe or Not? : </h4>
                                <p class="text">Cupping therapy is generally considered safe when performed
                                     by a trained and qualified practitioner who follows proper techniques and
                                      hygiene protocols. Here's why it's often regarded as safe:</p>
                               <ul>
                                <li>Professional Training: </li><p>
                                    Qualified cupping therapists undergo training to
                                     learn proper techniques, including how to apply 
                                     cups safely, how much suction to use, and how long
                                      to leave the cups in place.

                                </p>
                                <li>Hygiene Practices:</li><p>
                                    Reputable practitioners adhere to strict hygiene practices, 
                                    including sterilizing equipment between uses and ensuring a 
                                    clean treatment environment to minimize the risk of infection.
                                </p>
                                <li>Assessment of Contraindications:  </li><p>
                                    Before administering cupping therapy, practitioners typically conduct 
                                    a thorough assessment of the client's health history and current condition 
                                    to determine whether cupping is appropriate and safe for them. Certain medical 
                                    conditions or medications may contraindicate cupping therapy.
                                </p>     
                                <li>Adjustable Pressure:  </li><p>
                                    Experienced practitioners know how to adjust the pressure
                                     of the cups according to the client's tolerance and sensitivity, 
                                     reducing the risk of excessive bruising or discomfort.

                                </p>
                                <li>Observation and Monitoring: </li><p>
                                    During the session, the therapist monitors the client's 
                                    response to the treatment, ensuring that they are comfortable
                                     and adjusting the treatment as needed to maintain safety and 
                                     effectiveness.


                                </p>                                 
                               </ul>
                            </p>
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 

            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
            <button class="float-button" onclick="toggleFloatMenu()">
              <i class="material-icons">phone</i>
              <ul class="float-menu">
                <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
                <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
              </ul>
            </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> 
    <script src="assets/js/theme.js"></script>

</body>
</html>