<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acupuncture: What is Acupuncture?, Benifits, Safe or not, Uses</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">  
    
    

    <!-- favicons
    ================================================== --> 
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links"> 
                        
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                        
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                            Acupuncture<br>Therapy
                            </h1>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_11.jpeg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div id="contact" class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is </div>                           
                            <h2 class="text-display-title">
                            Acupuncture Therapy.
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                Acupuncture is a traditional Chinese medicine practice that involves inserting
                                 thin needles into specific points on the body to alleviate pain and promote healing. 
                                 It's based on the concept of balancing the body's energy, known as qi (pronounced "chee").
             
                            </p>
                            
                            <p class="attention-getter">
                                By inserting needles into these points, acupuncturists aim to restore the proper flow of Qi and balance the body's energy.
                                Acupuncture is used to treat a wide range of conditions, including pain management, stress reduction, digestive disorders, and emotional imbalances, among others.
             
                            </p>

                                <p class="attention-getter"> 
                                    <h4 class="text">Benifits of Acupuncture</h4>
                                    <p  class="attention-getter">
                                        Acupuncture is known to provide relief for various conditions, including 
                                        chronic pain (such as back pain, neck pain, and headaches), stress, anxiety, 
                                        insomnia, digestive disorders, and even infertility. Many people also use acupuncture 
                                        as a complementary therapy for managing symptoms of conditions like arthritis and fibromyalgia.

                                    </p>
                                </p> 
                                <p class="attention-getter"> 
                                    <h4 class="text">Acupuncture is Safe or not??</h4>
                                    <p  class="attention-getter">
                                        Acupuncture, when performed by a trained and licensed practitioner, is generally 
                                        considered safe. It has been practiced for thousands of years and is used by millions 
                                        of people worldwide to address various health concerns. Numerous studies have shown 
                                        acupuncture to be a safe and effective treatment for a wide range of conditions.

                                    </p>
                                </p>
                                <p class="attention-getter"> 
                                    <h4 class="text">What is Uses of Acupuncture??</h4>
                                    <p  class="attention-getter">
                                        Acupuncture therapy is a holistic healing modality that involves 
                                        inserting thin needles into specific points on the body to stimulate
                                         energy flow, alleviate pain, and promote overall well-being. 
                                    </p> 
                                    <h4 class="text"> Here are  uses of acupuncture therapy:</h4>
                                    <p  class="attention-getter">
                                       <ul>
                                        <li>Pain Management :</li><p>
                                            Acupuncture is widely used to manage various types of 
                                            pain, including back pain, neck pain, joint pain, headaches, 
                                            migraines, and musculoskeletal pain. It can help reduce inflammation,
                                             relax muscles, and release endorphins, the body's natural pain-relieving chemicals.

                                        </p> 
                                        <li>Stress Reduction :</li><p>
                                            Acupuncture is known for its calming and relaxing effects, making
                                             it an effective therapy for reducing stress, anxiety, and tension.
                                              By promoting relaxation and balancing the nervous system, acupuncture
                                               can help individuals cope with daily stressors and improve overall mental well-being.
                                        </p> 
                                        <li>Improved Sleep: </li><p>
                                            Acupuncture can help regulate the sleep-wake cycle and improve sleep quality for
                                             individuals struggling with insomnia or sleep disturbances. By addressing underlying
                                              imbalances in the body, acupuncture promotes deep relaxation and restful sleep.
                                        </p> 
                                        <li>Digestive Health :</li><p>
                                            Acupuncture can support digestive health and alleviate symptoms of gastrointestinal
                                             disorders such as irritable bowel syndrome (IBS), acid reflux, constipation, and 
                                             bloating. It helps regulate digestive function, reduce inflammation, and restore 
                                             balance to the digestive system.
                                        </p> 
                                        <li>Mental and Emotional Well-being:</li><p>
                                            Acupuncture therapy is beneficial for mental and emotional health, helping to alleviate
                                             symptoms of depression, anxiety, and mood disorders. By balancing the body's energy and
                                              promoting the release of neurotransmitters, acupuncture can improve mood and emotional
                                               resilience.
                                        </p>
                                       </ul>
                                    </p> 
                                </p>
                         
                        </div> <!-- end s-about__content-main -->

                        <div  class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 

            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
        <button class="float-button" onclick="toggleFloatMenu()">
          <i class="material-icons">phone</i>
          <ul class="float-menu">
            <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
            <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
            <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
          </ul>
        </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> 
    <script src="assets/js/theme.js"></script>

</body>
</html>