<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scoliosis - Introduction, what is Scoliosis, Types, Causes, Treatment, Prevent</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                                Scoliosis  <br>
                            </h1> 
                            <p style="color:#283779" class="attention-getter">
                                Scoliosis is a spinal condition that affects millions worldwide,
                                 causing curvature and often discomfort or pain. Understanding its
                                  causes, recognizing its symptoms, and exploring treatment options 
                                  are crucial for those impacted by this condition. In this comprehensive
                                   guide, we delve into the intricacies of scoliosis, offering insights that 
                                   can aid both patients and caregivers.
                            </p>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_31.jpg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is</div>                           
                            <h2 class="text-display-title">
                                Scoliosis 
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                Scoliosis is a medical condition characterized by an abnormal sideways 
                                curvature of the spine.Scoliosis can develop at any age, but it often becomes
                                 apparent during periods of rapid growth, such as adolescence. Treatment options 
                                 for scoliosis depend on factors such as the age of the individual, the severity 
                                 of the curvature, and whether the condition is progressing.
                            </p>
                            
                            <p class="attention-getter">
                                <h4 class="text"> Types of Scoliosis:</h4>
                                <ul>
                                 <li>Idiopathic Scoliosis: </li><p>
                                    This is the most common type of scoliosis, accounting for approximately 
                                    80% of cases. Idiopathic scoliosis occurs without a known cause, but researchers
                                     believe that genetic, hormonal, and environmental factors may play a role. Idiopathic
                                      scoliosis typically develops during adolescence, with the curvature often progressing 
                                      during periods of rapid growth.
                                 </p>
                                 
                                 <li>Congenital Scoliosis: </li><p>
                                    Congenital scoliosis is present at birth and results from abnormal spine development in the womb. 
                                    This can occur due to vertebral malformations or abnormalities in the formation of the vertebrae, 
                                    such as hemivertebrae (wedge-shaped vertebrae) or fused vertebrae. Congenital scoliosis is relatively
                                     rare but can lead to severe curvature and other spinal deformities.
                                 </p>  
                                 <li>Neuromuscular Scoliosis: </li><p>
                                    Neuromuscular scoliosis develops as a secondary complication of neuromuscular disorders that
                                     affect muscle control and coordination. Conditions such as cerebral palsy, muscular dystrophy,
                                      spina bifida, or spinal cord injuries can lead to muscle weakness or imbalance, resulting in 
                                      spinal curvature. Neuromuscular scoliosis tends to progress more rapidly and may be associated 
                                      with other health complications.
                                 </p>  
                                </ul>  
                                </p> 
                                
                                <p class="attention-getter">
                                <h4 class="text"> Causes of Scoliosis:</h4>
                                <ul>
                                 <li>Idiopathic: </li><p>
                                    This is the most common form, where the cause is unknown.
                                     It typically develops during adolescence and is often 
                                     discovered during routine school screenings.
                                 </p>
                                 
                                 <li>Congenital:  </li><p>
                                    Some individuals are born with scoliosis due to abnormal spinal development in the womb.
                                 </p>  
                                 <li>Neuromuscular conditions: </li><p>
                                    Conditions such as cerebral palsy or muscular dystrophy can 
                                    lead to muscle weakness or imbalance, affecting spinal alignment.
                                 </p> 
                                 
                                 <li>Genetic factors: </li><p>
                                    There is evidence to suggest that scoliosis may run in families, indicating a genetic predisposition.
                                 </p>   

                                 <li>Connective tissue disorders </li><p>
                                    Conditions like Marfan syndrome or Ehlers-Danlos syndrome, which affect the connective tissues, can sometimes be associated with scoliosis.
                                 </p>
                                </ul>  
                                </p>   

                                <p class="attention-getter">
                                    <h4 class="text"> Symptoms of Scoliosis:</h4>
                                    <ul>
                                     <li><p>Recognizing the symptoms of scoliosis is key to prompt diagnosis
                                         and treatment. These may include uneven shoulder heights, 
                                         an asymmetrical waistline, or a noticeable curvature of the spine.
                                          Diagnosis often involves physical examination, followed by imaging tests
                                           such as X-rays or MRIs to assess the severity and progression of the curvature.
                                            Early detection can prevent further complications and facilitate appropriate 
                                            intervention strategies.</p></li>
                                    </ul>  
                                    </p>   

                                    <p class="attention-getter">
                                        <h4 class="text"> Treatments of Scoliosis:</h4>
                                        <ul>
                                         <li><p>Treatment for scoliosis depends on various factors, including the
                                             severity of the curvature, the age of the individual, and any underlying 
                                             conditions. Mild cases may require only monitoring over time, while more 
                                             pronounced curves may necessitate bracing or surgical intervention. Additionally,
                                              physical therapy and exercises tailored to strengthen the spine and surrounding
                                               muscles can play a crucial role in managing symptoms and improving quality of life.</p></li>
                                        </ul>  
                                        </p> 

                                        <p class="attention-getter">
                                            <h4 class="text"> Prevent of Scoliosis:</h4>
                                            <ul>
                                             <li>Practice Good Posture: </li><p>
                                                Maintaining proper posture is essential for spinal health.
                                                 Whether sitting, standing, or walking, strive to keep your 
                                                 spine aligned, shoulders back, and head held high. Avoid 
                                                 slouching or hunching over, especially for extended periods,
                                                  as this can place unnecessary strain on the spine and contribute 
                                                  to misalignments over time.
                                             </p>
                                             
                                             <li>Incorporate Core Strengthening Exercises: </li><p>
                                                A strong core helps stabilize the spine and reduce the risk of 
                                                developing spinal abnormalities like scoliosis. Include exercises 
                                                that target the core muscles, such as planks, bridges, and abdominal 
                                                crunches, into your fitness routine. Strengthening the core not only 
                                                supports spinal alignment but also improves overall balance and stability.
                                             </p>  
                                             <li>Avoid Prolonged Sitting:</li><p>
                                                Sitting for long periods can contribute to poor posture and weaken the 
                                                muscles supporting the spine. Take regular breaks to stand up, stretch, 
                                                and move around throughout the day, especially if you have a desk job or 
                                                spend extended hours sitting. Incorporate ergonomic adjustments to your 
                                                workspace, such as using a supportive chair and positioning your computer
                                                 monitor at eye level, to reduce strain on the spine.
                                             </p> 
                                             
                                             <li>Maintain a Healthy Weight: </li><p>
                                                Excess weight can place additional stress on the spine and increase the 
                                                risk of developing spinal abnormalities. Aim to maintain a healthy 
                                                weight through a balanced diet and regular exercise. Focus on consuming 
                                                nutrient-rich foods and limiting processed foods and sugary beverages, 
                                                which can contribute to inflammation and weight gain.
                                             </p>   
            
                                             <li>Prioritize Bone Health: </li><p>
                                                Strong bones are essential for supporting the spine and reducing the 
                                                risk of osteoporosis-related spinal deformities. Ensure an adequate intake 
                                                of calcium and vitamin D through diet or supplements, as these nutrients play 
                                                a critical role in bone health. Incorporate weight-bearing exercises like walking,
                                                 jogging, or weightlifting into your routine to promote bone density and strength.
                                             </p> 
                                             <li>Get Regular Check-ups: </li><p>
                                                Regular visits to a healthcare provider can help identify any potential 
                                                spinal issues early on and provide guidance on maintaining spinal health. 
                                                Discuss any concerns or family history of spinal conditions with your doctor, 
                                                who can recommend appropriate screenings or interventions as needed.
                                             </p>
                                            </ul>  
                                            </p>   

                            
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 
            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
            <button class="float-button" onclick="toggleFloatMenu()">
              <i class="material-icons">phone</i>
              <ul class="float-menu">
                <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
                <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
              </ul>
            </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> 
    <script src="assets/js/theme.js"></script>

</body>
</html>