<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yoga - Introduction, What is Yoga, Types, Poses, Benifits</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                                Yoga<br>Therapy
                            </h1> 
                            <p class="text">Welcome to the transformative world of yoga, where mind,
                                 body, and spirit converge in a harmonious journey toward health and
                                  wellness. In this guide, we'll explore the ancient practice of yoga, 
                                  its myriad benefits, and how it can enrich your life both on and off the mat.</p>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_27.jpg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is</div>                           
                            <h2 class="text-display-title">
                                Yoga 
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                Yoga is a holistic approach to healing and well-being that utilizes
                                 the principles and practices of yoga to address various physical, mental, and
                                  emotional health issues. It combines traditional yoga techniques, such as postures
                                   (asanas), breathing exercises (pranayama), meditation, and relaxation techniques
                            </p> 
                            
                            <p class="attention-getter">
                                <h4 class="text">Types of Yoga: </h4>
                                <ul>
                                 <li>Hatha Yoga: </li><p>
                                    Hatha yoga is a foundational style that focuses on physical
                                     postures (asanas) and breath control (pranayama). It is 
                                     often taught in a slower-paced manner, making it suitable for
                                      beginners.
                                 </p>
                                 
                                 <li>Vinyasa Yoga: </li><p>
                                    Vinyasa, also known as flow yoga, emphasizes the synchronization of
                                     breath with movement. It involves flowing sequences of poses that
                                      transition smoothly from one to the next, creating a dynamic and 
                                      invigorating practice.

                                 </p>  
                                 <li>Ashtanga Yoga: </li><p>
                                    Ashtanga yoga follows a specific sequence of poses that are practiced in a precise
                                     order. It is a vigorous and physically demanding style that builds strength, 
                                     flexibility, and stamina. Ashtanga is typically taught in a structured manner
                                      with little variation from class to class.

                                 </p>   
                                 <li>Iyengar Yoga: </li><p>
                                    Developed by B.K.S. Iyengar, this style of yoga focuses on alignment and precision 
                                    in each pose. Props such as blocks, straps, and blankets are often used to help students
                                     achieve proper alignment and deepen their practice. Iyengar yoga is accessible to 
                                     practitioners of all levels and is particularly beneficial for those recovering from
                                      injuries or with specific alignment issues.
                                 </p>   
                                 <li>Bikram Yoga: </li><p>
                                    Bikram yoga, also known as hot yoga, consists of a series of 26 poses practiced in 
                                    a room heated to a high temperature (usually around 95-105°F or 35-40°C). The heat
                                     is believed to increase flexibility, detoxify the body, and promote relaxation.
                                      Bikram yoga follows a specific sequence and is practiced in a mirrored studio.
                                 </p>  
                                 <li>Kundalini Yoga: </li><p>
                                    Kundalini yoga combines dynamic movements, breathwork, meditation, and 
                                    chanting to awaken the dormant energy at the base of the spine (kundalini). 
                                    It aims to balance the chakras, increase spiritual awareness, and promote 
                                    self-discovery and personal transformation.
                                 </p>                             
                                </ul>  
                                </p>   

                                <p class="attention-getter">
                                    <h4 class="text">Poses of Yoga: </h4>
                                    <ol>
                                     <li><h5 class="text">Standing Poses: </h5></li>
                                     <ul>
                                        <li>
                                            Tadasana:  
                                       </li><p>Improves posture and strengthens the legs</p>
                                        <li>
                                            Virabhadrasana:
                                        </li><p>Enhances strength, stability, and focus while stretching the legs and opening the hips.</p>
                                        <li>
                                            Vrksasana:
                                        </li><p> Builds balance and concentration while strengthening the legs and core.</p> 
                                        <li>
                                            Utkatasana:
                                        </li><p>Strengthens the legs, glutes, and core muscles.</p>
                                     </ul>
                                     
                                     <li><h5 class="text">Seated Poses: </h5> </li>
                                     <ul>
                                        <li>
                                            Paschimottanasana:
                                        </li><p> Stretches the spine, hamstrings, and lower back while calming the mind.</p>
                                        <li>
                                            Ardha Matsyendrasana:
                                        </li><p>Improves spinal mobility and digestion while releasing tension in the back and shoulders.</p>
                                        <li>
                                            Padmasana: 
                                        </li><p>Enhances hip flexibility and promotes a grounded, meditative state.
                                        </p> 
                                        <li>
                                            Dandasana: 
                                        </li><p>Strengthens the back and core muscles while improving posture.
                                        </p>
                                     </ul>
    
                                     <li><h5 class="text">Backbends: </h5> </li>
                                     <ul>
                                        <li>
                                            Bhujangasana:
                                        </li><p>Opens the chest, strengthens the back muscles, and improves spinal flexibility.</p>
                                        <li>
                                            Setu Bandhasana:
                                        </li><p>Stretches the chest, neck, and spine while strengthening the glutes and hamstrings.</p>
                                        <li>
                                            Urdhva Dhanurasana:
                                        </li><p>Expands the chest and shoulders, strengthens the arms and legs, and increases flexibility in the spine.</p>
                                     </ul>     

                                     <li><h5 class="text">Twists: </h5> </li>
                                     <ul>
                                        <li>
                                            Parivrtta Utkatasana
                                        </li><p> Increases spinal mobility, massages the internal organs, and aids digestion.</p>
                                        <li>
                                            Parivrtta Trikonasana:
                                        </li><p>Stretches the hamstrings and spine while detoxifying the body.</p>
                                        <li>
                                            Parivrtta Ardha Chandrasana:
                                        </li><p> Improves balance, strengthens the legs, and enhances spinal mobility.</p>
                                     </ul>    
                                    </ol>  
                                </p> 
                                
                            
                            <p class="attention-getter">
                                <h4 class="text">Benifits of Yoga :</h4>
                                <ul>
                                 <li>Improved Flexibility and Strength:</li><p>
                                    Practicing yoga poses helps improve flexibility and strength in muscles
                                     and joints, leading to better mobility and reduced risk of injury.

                                 </p>
                                 
                                 <li>Stress Reduction: </li><p>
                                    Yoga therapy incorporates relaxation techniques such as deep
                                     breathing and meditation, which help reduce stress levels and
                                      promote relaxation, leading to better mental and emotional well-being.

                                 </p>  
                                 <li>Enhanced Mental Health: </li><p>
                                    Regular practice of yoga therapy has been shown to reduce symptoms 
                                    of anxiety, depression, and other mental health disorders, while 
                                    also improving mood and promoting a sense of inner peace and well-being.
                                 </p>  
                                 <li>Better Sleep:</li><p>
                                    Yoga therapy can help improve sleep quality by reducing stress and 
                                    promoting relaxation. Certain yoga poses and breathing exercises are 
                                    particularly beneficial for calming the mind and preparing the body for restful sleep.
                                 </p>  
                                </ul>  
                                </p>       
                            
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 
            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
            <button class="float-button" onclick="toggleFloatMenu()">
              <i class="material-icons">phone</i>
              <ul class="float-menu">
                <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
                <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
                <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
              </ul>
            </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color: white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> 
    <script src="assets/js/theme.js"></script>

</body>
</html>