<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hydra Facial - What is It, Benifits, Risk, How it's work</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="assets/css/Vendorp.css">
    <link rel="stylesheet" href="assets/css/Treatments.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

</head>


<body id="top">

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap ss-home">


        <!-- # site header 
        ================================================== -->
        <header class="s-header">

            <div class="row s-header__inner width-sixteen-col">

                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="index.html">
                            <img src="Logo.png" alt="Homepage">
                        </a>
                    </div>

                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div> <!-- end s-header__block -->

                <nav class="s-header__nav " style="color: #B2DDED;">
                    <ul class="s-header__menu-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login/Register</a></li> 
                        <li><a class="smoothscroll" href="#contact">contact Us</a></li>   
                        <li><a href="/appointment">Book Appointment</a></li>  
                    </ul> <!-- s-header__menu-links -->
                </nav><!-- end s-header__nav -->

            </div> <!-- end s-header__inner -->

        </header> <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

            <!-- intro
            ----------------------------------------------- -->
            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                        
                            <h1 class="s-intro__content-title" style="color:#283779">
                            Hydra Facial<br>Therapy
                            </h1>
                        </div> <!-- s-intro__content-text -->

                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="assets/img/gallery/img_23.jpg" alt="">
                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div> <!-- s-intro__content-media -->                      

                        <div class="s-intro__scroll-down">
                            <a href="#about" class="smoothscroll" style="color: #1B71A1">
                                <div class="scroll-icon" style="color: #1B71A1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#1B71A1" stroke="#1B71A1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <!-- Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons -->
                                        <polyline points="7 13 12 18 17 13" stroke="#1B71A1"></polyline>
                                        <line x1="12" y1="18" x2="12" y2="6" stroke="#1B71A1"></line>
                                    </svg>
                                </div>
                                <span>Scroll for more</span>
                            </a>
                        </div>
                         <!-- s-intro__scroll-down -->
                        
                    </div> <!-- s-intro__content-inner -->

                </div> <!-- s-intro__content -->

            </section> <!-- end s-intro -->

            <!-- about
            ----------------------------------------------- -->
            <section id="about" class="s-about target-section">

                <div class="row s-about__content width-sixteen-col">
                    <div class="column grid-block grid-section-split">

                        <img src="geometric_shape.svg" alt="" class="s-about__content-imgbg">

                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">What is</div>                           
                            <h2 class="text-display-title">
                            Hydra Facial Therapy.
                            </h2>                           
                        </div> <!-- end section-header -->

                        <div class="s-about__content-main grid-section-split__primary">
                            <p class="attention-getter">
                                HydraFacial is a non-invasive, multi-step treatment that rejuvenates 
                                the skin by removing dead skin cells, extracting impurities, and infusing
                                 the skin with hydrating serums.
                            </p>
                            
                            <p class="attention-getter">
                                <h4 class="text">Benifits of Hydra Facial Treatment</h4>
                                <ul>
                                 <li>Deep Cleansing: </li><p>
                                    HydraFacial utilizes a unique vortex suction technology to deeply 
                                    cleanse the skin, removing impurities, dead skin cells, and excess 
                                    sebum from pores. This thorough cleansing helps to prevent acne breakouts and improves overall skin health.
                                 </p>
                                 
                                 <li>Acid Peel:</li><p>
                                    A gentle acid peel solution is applied to the skin to further 
                                    exfoliate and loosen debris from pores without causing irritation.
                                 </p>  
                                 <li>Exfoliation:</li><p>
                                    The treatment includes gentle exfoliation, which helps to 
                                    slough off dead skin cells, revealing a smoother and more
                                     radiant complexion underneath. Regular exfoliation also 
                                     encourages skin cell turnover, promoting a youthful appearance.
                                 </p> 
                                 <li>Hydration:</li><p>
                                    HydraFacial infuses the skin with nourishing serums that contain hyaluronic
                                     acid, antioxidants, and peptides. These ingredients help to hydrate the skin,
                                      restoring moisture balance and leaving it feeling plump and refreshed.
                                 </p>
                                 
                                 <li>Improves Skin Texture and Tone:</li><p>
                                    HydraFacial's combination of cleansing, exfoliation, and hydration helps to improve the 
                                    overall texture and tone of the skin. It can minimize the appearance of pores, smooth out
                                     rough patches, and even out skin discoloration for a more even complexion.
                                 </p>  
                                 <li>Safe for All Skin Types:</li><p>
                                    HydraFacial is suitable for all skin types, including sensitive skin. 
                                    The treatment is non-invasive and gentle, making it a safe option for 
                                    anyone looking to improve their skin's health and appearance.
                                 </p> 

                                </ul> 
                                <p class="attention-getter">
                                    <h4 class="text">Working Process of Hydra Facial: </h4>
                                    <ul>
                                     <li>Cleansing & Exfoliation:</li><p>
                                        The treatment begins with a thorough cleansing of the skin's surface to remove
                                         any impurities and dead skin cells. A gentle exfoliating solution is applied,
                                          which helps to reveal a fresh layer of skin underneath.
    
                                     </p>
                                     
                                     <li>Acid Peel: </li><p>
                                        ext, a mild acid peel solution is applied to further exfoliate the skin and 
                                        loosen debris from the pores. This step helps to unclog pores
                                         and prepare the skin for extraction.
                                     </p> 
                                     <li>Extraction: </li><p>
                                        Using a unique vacuum-powered extraction tip, the HydraFacial device gently removes
                                         blackheads, whiteheads, and other impurities from the pores. This process is painless
                                          and leaves the skin clear and refined.
                                     </p>  
                                     <li>Hydration: </li><p>
                                        One of the key benefits of HydraFacial is its ability to deliver nourishing serums deep into
                                         the skin for maximum hydration. A customized blend of antioxidants, peptides, and hyaluronic 
                                         acid is applied to replenish and hydrate the skin, leaving it plump and glowing.
                                     </p> 
                                    
                                    </ul>
                            </p> 

                            <p class="attention-getter">
                                <h4 class="text">Hydra facial Therapy is Dengerous?: </h4> 
                                <p class="text">
                                    HydraFacial treatment is generally considered safe when performed by
                                     a qualified skincare professional in a reputable facility. However, 
                                     like any cosmetic procedure, there are certain risks and considerations
                                      to keep in mind. While the vast majority of individuals undergo HydraFacial 
                                      without experiencing any adverse effects, it's important to be aware of potential 
                                      risks, which may include:
                                </p>
                                <ul>
                                 <li>Skin Sensitivity:</li><p>
                                    Some individuals may experience mild redness, irritation,
                                     or sensitivity following HydraFacial treatment, particularly
                                      those with sensitive skin. However, these side effects are usually
                                       temporary and subside within a few hours to a day.
                                </p>
                                 
                                 <li>Allergic Reactions:  </li><p>
                                    While rare, there is a possibility of allergic reactions to the serums and 
                                    solutions used during HydraFacial. It's essential to inform your skincare 
                                    professional of any known allergies or sensitivities beforehand to minimize the risk of adverse reactions.
                                 </p> 
                                 <li>Extraction: </li><p>
                                    Using a unique vacuum-powered extraction tip, the HydraFacial device gently removes
                                     blackheads, whiteheads, and other impurities from the pores. This process is painless
                                      and leaves the skin clear and refined.
                                 </p>  
                                 <li>Infection:  </li><p>
                                    roper hygiene and sterilization protocols must be followed during HydraFacial 
                                    to reduce the risk of infection. Reputable facilities adhere to strict cleanliness
                                     standards, but it's crucial to ensure that your skincare professional is qualified and licensed.
                                 </p> 
                                
                                </ul>
                        </p>

                            
                        </div> <!-- end s-about__content-main -->

                        <div class="s-about__content-btn grid-section-split__bottom">
                            <a href="tel:+919768333545" class="btn btn--primary u-fullwidth">Contact Me</a>

                            <ul class="s-about__social social-list">
                                <li>
                                    <a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm">
                                       
                                        <span class="fab fa-facebook fa-2x "></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw==">
                                        
                                        <span class="fab fa-instagram fa-2x"></span>
                                    </a>
                                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <li>
                                    <a href="https://wa.me/919768333545">
                                       
                                        <span class="fab fa-whatsapp fa-2x"></span>
                                    </a>
                                </li>
                            
                            </ul> <!-- end s-footer__social -->
                        </div> <!-- end s-about__content-btn -->
                    
                    </div> <!-- content-inner -->
                </div>
                
            </section> <!-- end s-about --> 
            <button class="appointment-button" onclick="window.location.href='/appointment'">Book Appointment</button>
        <button class="float-button" onclick="toggleFloatMenu()">
          <i class="material-icons">phone</i>
          <ul class="float-menu">
            <li><a href="tel:+919768333545"><i class="material-icons">phone</i></a></li>
            <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
            <li><a href="https://wa.me/919768333545"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="https://www.instagram.com/nextwellness2020?igsh=MWpnNThxNnpkcHVlZw=="><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/Nextwellness2016?mibextid=ngobeXctTp5pD3Zm"><i class="fab fa-facebook-f"></i></a></li>
          </ul>
        </button>

            <!-- expertise
            ----------------------------------------------- -->
             <!-- end s-expertise -->

            <!-- clients
            ----------------------------------------------- -->


        <!-- # footer 
        ================================================== -->
        <section class="py-0 bg-primary">

            <div class="container">
              <div class="row justify-content-md-between justify-content-evenly py-4">
                <div class="col-12 col-sm-8 ms-auto text-md-end">
                  <p style="color:white;" class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; SmartSense Technology, 2024</p>
                </div>
              </div>
            </div>
            <!-- end of .container-->
  
          </section> <!-- end s-footer -->

    </div> <!-- end page-wrap -->

    <!-- Java Script
    ================================================== -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script> 
    <script src="assets/js/theme.js"></script>

</body>
</html>