<!--<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head content 
</head>
<body>
    <h1>Reset Password</h1>
    
    <form action="/reset-password/<%= token %>" method="POST">
        <label for="password">Enter your new password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head content --> 
    <title>Reset Password</title>
    <link rel="stylesheet" href="/login.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'> 
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" hhref="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/gallery/nextwellness.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/gallery/nextwellness.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/gallery/nextwellness.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
</head>
<body>
    <!--<h1>Forgot Password</h1>
    
    <form action="/forgot-password" method="POST">
        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Reset Password</button>
    </form>-->
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>New Password</header>
                <form action="/reset-password/<%= token %>" method="POST">
                    
                     <div class="field input-field">
                        <input type="password" placeholder=" New Password" id="password" name="password" required class="password">
                        <i class='bx bx-hide eye-icon'></i>
                      </div>
                    <div class="field button-field">
                        <button>Reset Password</button>
                    </div>

                </form>
        </div>

        <script >
            const pwShowHide = document.querySelectorAll(".eye-icon");
            pwShowHide.forEach(eyeIcon => {
           eyeIcon.addEventListener("click", () => {
               let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");
               
               pwFields.forEach(password => {
                   if(password.type === "password"){
                       password.type = "text";
                       eyeIcon.classList.replace("bx-hide", "bx-show");
                       return;
                   }
                   password.type = "password";
                   eyeIcon.classList.replace("bx-show", "bx-hide");
               })
               
           })
       })      
     </script>
</body>
</html>

